<div ng-controller="editsubcategoryCtrl"><!-- start: PAGE TITLE -->
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">Edit subcategory</h1>

            </div>
            <div ncy-breadcrumb></div>
        </div>
    </section>

    <!-- end: CELL AND ROW TEMPLATE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw bg-white">
        <div ng-show="msg" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>

        <div class="row">
            <div class="col-md-12">



                <form class="form-inline">
                    <input type='hidden' ng-model='parent_id' value="{{parent_id}}">
                    <input type='hidden' id="hidden_name" >
                   <div class="row">  
                    <div class="col-md-12">
                        <div class="form-group">
                        <label >Name : </label>
                        <input type="text" ng-model="name" class="form-control input-medium" value="{{name}}" id="real_name">
                        </div>
                    </div>
                   </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">  
                   <div class="col-md-12">
                        <div class="form-group">
                        <label >Is active : </label>
                        <input type="checkbox" ng-model="is_active" id="checkboxid" >
                        </div>
                    </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">  
                    <div class="form-group right">
                        <div class="col-md-12">
                           
                            <button class="btn green" type="submit" ng-click='saveit();'>Submit</button>
                            <button class="btn default" type="submit" ng-click='back(parent_id);'>Back to Sub Categories</button>
                             </div>
                        </div>
                    </div>
                    
                </form>


            </div>


        </div>
    </div>
    
</div>