<!-- start: LOGIN -->
<div ng-controller='adminloginCtrl'>
<div class="row">
    <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="logo">
            <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"/>
        </div>
        <!-- start: LOGIN BOX -->
        <div class="box-login ">
            <form class="form-login" >
                <fieldset>
                    <legend>
                        Sign in to your account
                    </legend>
                     <div ng-show="loginalertmessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                    <p>
                        Please enter your name and password to log in.
                    </p>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="Username" class="form-control" ng-model="user_username"/>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>

                            <a class="forgot" ui-sref="adminlogin.forgot">
                                I forgot my password
                            </a> </div>
                    </div>
                    <div class="form-actions">
<button ng-click="login();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-primary pull-right">Login</button>
                       
                    </div>

                </fieldset>
            </form>
            <!-- start: COPYRIGHT -->
            <div class="copyright">
                {{app.year}} &copy; {{ app.name}} by {{ app.author}}.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
        <!-- end: LOGIN BOX -->
    </div>
</div>
<!-- end: LOGIN -->
</div>
