<div>
    <div class="left-block">    
        <div class="list-group">
            <a ng-href="/frontend/helper_transactions" class="list-group-item profile_left_menu"><i class="fa fa-bank"></i> Transactions</a>
            <a ng-href="/frontend/helper_dashboard" class="list-group-item profile_left_menu"><i class="fa fa-bars"></i> Order Details</a>
        </div>
    </div>
</div>