<div ng-controller="mentorleftpanelCtrl">

    <div class="left-block">
     <a href="javascript:void(0);" class="get-help" ng-click="switchToHelpee();"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Switch To Helpee</a>
    </div>
    
    <div class="left-block">
        <div class="profile-left" style="margin-bottom: 0px;"> 
            <!--<img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" ng-show="headersiteimage" class="image-profile" >
            <img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=100&width=100" ng-show="!headersiteimage" class="image-profile"  >-->

                    <profile-image image-url="{{loggedindetails.image}}" fbid="{{loggedindetails.fbid}}" gpid="{{loggedindetails.gid}}" lnid="{{loggedindetails.lnid}}" username="{{loggedindetails.name}}" imgclass="image-profile"></profile-image>
            <h4>{{loggedindetails.name}}</h4>
            <!--<a href="javascript:void(0);" class="btn btn-sm btn-success">Edit Profile</a>-->
            <p>Credit <a class="credit-link" href="/frontend/buy_credit">${{loggedindetails.credit_tokens}}</a></p> 
            <span class="label label-info" ng-repeat="exp in userExpertise" style="margin:2px;">{{exp.name}}</span>
        </div>
        <div class="get-help-noover">Service Provider Mode</div>
        <div class="clearfix"></div>
        <div class="list-group">
            <!--<a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('helpers_active');"><span>0</span>Active Requests</a>-->
            <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('open-requests');"><span id="openreq">{{openrequestcount}}</span>Open for Bid</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('live-feed');"><span>0</span>Live Feed</a> 
            <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('withdraw');"><span id="openreq">0</span>Withdraw</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('helper_transactions');"><span>0</span>Manage</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Long-term Requests</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>LiveHelpout Monthly</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Offline Help</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Office Hours</a>
            <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Tutorials</a>
       </div>
    </div>
</div>

