 <div class="col-md-3"> 
    <div class="left-block">
    <a href="javascript:void(0);" class="get-help" ng-click="openGetHelp();"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Get Help Now</a>
    <a href="javascript:void(0);" class="get-help" style="margin-top: 10px;" ng-click="switchToMentor();"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Switch To Mentor</a>
    </div>
    
    <div class="left-block">
    <div class="profile-left" style="margin-bottom: 0px;">
         <profile-image image-url="{{loggedindetails.image}}" fbid="{{loggedindetails.fbid}}" gpid="{{loggedindetails.gid}}" lnid="{{loggedindetails.lnid}}" username="{{loggedindetails.name}}" imgclass="image-profile"></profile-image>
      <h4>{{loggedindetails.name}} </h4>
      <p>Credit <a class="credit-link" href="/frontend/buy_credit">${{loggedindetails.credit_tokens}}</a></p> 
	  <p>Escrowed <a class="credit-link" href="/frontend/help_dashboard/2">${{escrowed_amount}}</a></p>
    </div>
    <div class="get-help-noover">Helpee Mode</div>
    <div class="clearfix"></div> 
    <div class="list-group">
          <a href="javascript:void(0);" class="list-group-item profile_left_menu act" id="activereq" ng-click="make_active_menu('activereq')"><span>{{noofactiverequests}}</span>Active Requests</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="reqhistory" ng-click="make_active_menu('reqhistory')"><span>{{noofpreviousrequests}}</span>Request History</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="longtermmentorshps" ng-click="make_active_menu('longtermmentorshps')"><span>0</span>Long-term Mentorship</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" id="livehelpuoumnthly" ng-click="make_active_menu('livehelpuoumnthly')"><span>0</span>LiveHelpout Monthly</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-href="/frontend/transactions"><span>$</span>Manage</a>
          <a href="javascript:void(0);" class="list-group-item profile_left_menu"><span>0</span>Offline Help</a>
          <!--<a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-href="/frontend/helpees_assigns"><span>0</span>Assigned Request</a>-->
    </div>
    <div class="alert alert-info promo-message center" style="padding:15px;text-align:center;">
        <b class="show">
          Get more free credit!
        </b>
          Invite your friends by
        <b>
          <a href="javascript:void(0);">sharing</a>
        </b>
        your referral link now.
    </div>
    <div class="center hidden-phone" style="margin-bottom:10px;text-align:center;">
      <a href="javascript:void(0);">
        Try a Test Session Now
      </a>
    </div>
  </div>
</div>
