<div ng-controller="settingleftpanelCtrl"> 

    <div class="left-block">
     <a href="javascript:void(0);" class="get-help" ng-click="switchToHelpee();"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Switch To Helpee</a>
    </div>
    
    <div class="left-block">
    <div class="profile-left">
      <!--<img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" ng-show="headersiteimage" class="image-profile" >
      <img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=100&width=100" ng-show="!headersiteimage" class="image-profile"  >-->
         <profile-image image-url="{{loggedindetails.image}}" fbid="{{loggedindetails.fbid}}" gpid="{{loggedindetails.gid}}" lnid="{{loggedindetails.lnid}}" username="{{loggedindetails.name}}" imgclass="image-profile"></profile-image>
      <h4>{{loggedindetails.name}}</h4>
      <!--<a href="javascript:void(0);" class="btn btn-sm btn-success">Edit Profile</a>-->
      <p>Credit <a class="credit-link" href="/frontend/buy_credit">${{loggedindetails.credit_tokens}}</a></p> 
    </div>
    <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('my-setting');">Personal Setting</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('account-setting');">Account Setting</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('tax-info');">Tax Information</a>
        <a href="javascript:void(0);" class="list-group-item profile_left_menu" ng-click="redirecttopage('expertise');">Expertise & Rate</a>
   </div>
 </div>
</div>

