<div ng-controller="availabilityCtrl">
 <section class="body-wrapper">
  <div class="container">
    <div class="row">
     <div class="col-md-3">
         <div data-ng-include="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
     </div>
     <div class="col-md-9">
<button ng-click="new_event();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Add New Event</button>
                    <!--================================================================-->
                    <div class="left-box requesthistory">
                        <div class="hor">
                            <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>    
    </div>
  </div>
</section>
<div class="custom-modal modal fade" id="calenderEventPopup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
                 
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Event</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="alertAddEvent" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="start_date" ng-model="start_date" id="startDate" ng-value="start_date" value="">
                  <input type="hidden" name="end_date" ng-model="end_date" id="endDate" ng-value="end_date" value="">
                  <input type="hidden" name="day" ng-model="day" id="day" ng-value="day" value="0">
                     <div style="padding: 3%;">Available On :<span id="sttm_div"></span></div>
                    
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Start Time</label>
                        <div class="col-sm-10">
                           <select ng-required="true" id="start_time" ng-model="start_time" data-ng-options="key as val for (key, val) in time">
						  <option value="">Select Time</option>
					    </select>
                           <span>*Ex: 10:00 am</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">End Time</label>
                        <div class="col-sm-10">
                           <select ng-required="true" id="end_time" ng-model="end_time" data-ng-options="key as val for (key, val) in time">
						  <option value="">Select Time</option>
					    </select>
                           <span>*Ex: 08:00 pm</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Recurring Event</label>
                        <div class="col-sm-10">
                           <input type="radio" name="event_recurring" ng-model="event_recurring" value="1">Yes &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="event_recurring" ng-model="event_recurring" value="0">No
                        </div>
                     </div>
                     <div class="form-group" ng-show="event_recurring==1">
                        <label class="col-sm-2 control-label">Interval</label>
                        <div class="col-sm-10">
						<div ng-repeat="item in days">
						   <input type="checkbox" checkbox-group ng-model="item.selected" name="selectedDays[]" value="{{item.id}}" />
						   <label>{{item.value}}</label>
						</div>	
                           <!--<input type="checkbox" name="event_on" ng-model="event_on" value="monday">Monday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="tuesday">Tuesday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="wednesday">Wednesday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="thursday">Thursday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="friday">Friday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="saturday">Saturday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="sunday">Sunday &nbsp;&nbsp;&nbsp;-->
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                           <input type="text" placeholder="Title" class="form-control" id="title" ng-model="event_title" ng-required="true"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                           <textarea ng-model="event_description" class="form-control" style="height:120px;" id="description"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="add_event();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Add Event</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

<div class="custom-modal modal fade" id="calenderNewPopup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
         
            <div class="modal-content">
            	
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Event</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="alertPostEvent" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  
                  <input type="hidden" name="day" ng-model="day" id="day" ng-value="day" value="0">
                     <div style="padding: 3%;">Available On :<span id="sttm_div"></span></div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                           <input type="text" ng-required="true" id="startDate" ng-model="start_date" placeholder="YYYY-mm-dd" required />
                           <span>*YYYY-mm-dd</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Start Time</label>
                        <div class="col-sm-10">
                        	    <select ng-required="true" id="start_time" ng-model="start_time" data-ng-options="key as val for (key, val) in time">
						  <option value="">Select Time</option>
					    </select>
                           <!--<input type="text" ng-required="true" id="start_time" ng-model="start_time" placeholder="HH:mm:ss" required />-->
                           <span>*Ex: 10:00 am</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">End Time</label>
                        <div class="col-sm-10">
                           <select ng-required="true" id="end_time" ng-model="end_time" data-ng-options="key as val for (key, val) in time">
						  <option value="">Select Time</option>
					    </select>
                           <span>*Ex: 08:00 pm</span>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Recurring Event</label>
                        <div class="col-sm-10">
                           <input type="radio" name="event_recurring" ng-model="event_recurring" value="1">Yes &nbsp;&nbsp;&nbsp;
                           <input type="radio" name="event_recurring" ng-model="event_recurring" value="0">No
                        </div>
                     </div>
                     <div class="form-group" ng-show="event_recurring==1">
                        <label class="col-sm-2 control-label">Interval</label>
                        <div class="col-sm-10">
						<div ng-repeat="item in days">
						   <input type="checkbox" checkbox-group ng-model="item.selected" name="selectedDays[]" value="{{item.id}}" />
						   <label>{{item.value}}</label>
						</div>	
                           <!--<input type="checkbox" name="event_on" ng-model="event_on" value="monday">Monday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="tuesday">Tuesday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="wednesday">Wednesday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="thursday">Thursday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="friday">Friday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="saturday">Saturday &nbsp;&nbsp;&nbsp;
                           <input type="checkbox" name="event_on" ng-model="event_on" value="sunday">Sunday &nbsp;&nbsp;&nbsp;-->
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                           <input type="text" placeholder="Title" class="form-control" id="title" ng-model="event_title" ng-required="true"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                           <textarea ng-model="event_description" class="form-control" style="height:120px;" id="description"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="post_event();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Add Event</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>

<div class="custom-modal modal fade" id="calenderUpdateEventPopup"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Update Event</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="alertEditEvent" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST" name="updateEvent">
                  <input type="hidden" name="update_start_date" ng-model="update_start_date" id="update_startDate" ng-value="update_start_date" value="">
                  <input type="hidden" name="update_end_date" ng-model="update_end_date" id="update_endDate" ng-value="update_end_date" value="">
                  <input type="hidden" name="event_id" ng-model="event_id" id="eventId" ng-value="event_id" value="">
                     <div style="padding: 3%;">Available On :<span id="sttm"></span></div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                           <input type="text" placeholder="Title" class="form-control" id="update_title" ng-model="update_event_title" ng-required="true"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                           <textarea ng-model="update_event_description" class="form-control" style="height:120px;" id="update_description"></textarea>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="edit_event();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Update Event</button>
                           <button ng-click="delete_event();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Delete Event</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
</div>


<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:11px;}
</style>

