<div ng-controller="buycreditCtrl">
    <div class="act-modal modal fade" id="whyskipthis"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Help Us Understand What's Happening</h4>
                </div>
                <form method="POST">
                    <div class="modal-body extraspace" style="padding:14px 18px;">
                        <div ng-show="skipalert" class="{{alert.altclass}}">
                            <div id="flash_notice">{{alert.msg}}</div>
                        </div>
                        <h4>Why are you not interested?</h4>

                        <input type="hidden" id="hiddenskip" ng-model="hiddenskip" value="{{hiddenskip}}">
                        <input type="hidden" id="hiddenskiptype" ng-model="hiddenskiptype" value="{{hiddenskiptype}}">

                        <div class="form-group" style="margin-bottom: 0px;" ng-repeat="(key, value) in skipoptions">
                            <label class="col-sm-12 control-label">
                                <input type="radio" value="{{value}}" name="reason" ng-model="$parent.reason" class="ng-pristine ng-valid" style="position: absolute;">
                                <span style="margin-left:17px;" ng-if="key != '6'">{{value}}</span>
                                <textarea ng-if="key == '6'"  placeholder="Other reasons"  id="other_reason" style="width: 95%;height: 84px;margin-left: 17px;border-radius: 5px;"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a href="javascript:void(0);" ng-click="closemodal();"   class="btn btn-default-new" data-style="zoom-in" ladda="loading" data-spinner-size="25"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Close </a>
                        <a href="javascript:void(0);"  class="btn btn-primary" ng-click="saveskiprequest();">Submit </a></div>
                </form>
            </div>
        </div>
    </div>


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
        	<div class="billing_top">
        	<p><b>Billing</b> Buy prepaid credit and get extra free credit!
Codementor credits can only be used for 1:1 instant sessions, offline help, and Codementor jobs </p>
			</div>
        	<div class="price_cont">
                    <div class='package' ng-class="{brilliant:$index == selected}" ng-click="select(pack,$index)" ng-repeat="pack in packages">
                        <div class='name'>{{pack.Package.title}}</div>
                        <div class='price'>${{pack.Package.amount}}</div>
                        <div class='trial'>{{pack.Package.credit_label}}</div>
                        <hr>
                        <div class="clearfix"  style="margin-bottom:30px"></div>
                        <strong>{{pack.Package.slogan}}</strong>
                        <p>{{pack.Package.description}}</p>
                        
                    </div>
                    <!--<div class='package brilliant'>
                        <div class='name'> $100 + 3 FREE CREDIT </div>
                        <div class='price'>$100</div>
                        <div class='trial'> Get $3 Free Credit </div>
                        <hr>
                        <ul>
                          <li>
                            <strong>Unlimited</strong>
                            team members
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            team playlists
                          </li>
                          <li>
                            <strong>Unlimited</strong>
                            public playlists
                          </li>
                          <li>
                            Team analytics
                          </li>
                          <li>
                            Send files
                          </li>
                        </ul>
                    </div>-->
			</div>
			<div class="select_payment">
				<ul>
					<li ng-class="{opacity_5 : selected ==-1}">
                                            <input type="radio" ng-model="payment_type" name="payment_type" ng-model="payment_type" value="stripe"/>
                                            <img src="http://i.imgur.com/tXkjQnT.png" alt="" />
                                        </li>
					<li ng-class="{opacity_5 : selected ==-1 || selected==0}">
                                            <input type="radio" ng-disabled="selected == -1 || selected==0" name="payment_type" ng-model="payment_type" value="paypal"/>
                                            <img src="http://i.imgur.com/RoQ9qfk.png" alt="" />
                                        </li>
					<!--<li><input type="radio" /><img src="http://beta.livehelpout.com/assets/frontend/images/bitcoin-logo.png" alt="" /></li>-->
				</ul>
			</div>
			<div class="credit_form">
                            <div ng-show="regalertmessage" class="{{alert.altclass}}">
                                <div id="flash_notice">{{alert.msg}}</div>
                            </div>
                            <div ng-hide="selected == -1">
                                <p ng-show="payment_type=='stripe'"><b>Card details</b> Billing info required to complete registration.</p>				 
                                <div class="row" ng-show="payment_type=='stripe'">
                                    <form stripe-form="stripeCallback">                                        
                                        <div class="col-md-6">
                                                 <div class="form-group">
                                                   <label for="exampleInputEmail1">Credit Card Number:</label>
                                                   <input type="text" class="form-control" id="exampleInputEmail1" ng-model="number" required placeholder="Credit Card Number:">
                                                 </div>
                                        </div>
                                        <div class="col-md-6">
                                                 <div class="form-group">
                                                   <label for="exampleInputPassword1">Expires:</label>
                                                   <div class="form-inline">
                                                       <input type="text" 
                                                              class="form-control" 
                                                              id="exampleInputPassword1" 
                                                              ng-model="expiry_month" 
                                                              ng-change="expiry = expiry_month + '/' + expiry_year" 
                                                              placeholder="MM" required style="width:40%">&nbsp;&nbsp;/ &nbsp;&nbsp;
                                                       
                                                        <input 
                                                            type="text" 
                                                            class="form-control" 
                                                            id="exampleInputPassword1" 
                                                            ng-model="expiry_year" 
                                                            ng-change="expiry = expiry_month + '/' + expiry_year" 
                                                            placeholder="YY" required style="width:40%">
                                                        <input type="hidden" ng-model="expiry" >
                                                   </div>
                                                 </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputFile">Name on Card:</label>
                                                  <input type="text" id="exampleInputFile" ng-model="name" required class="form-control">
                                                </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                  <label for="exampleInputFile">Cvc code:</label>
                                                  <input type="text" id="exampleInputFile" ng-model="cvc" class="form-control">
                                                </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-default" ng-disabled="selected == -1">Buy Credit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="row" ng-show="payment_type=='paypal'">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-default" ng-disabled="selected == -1" ng-click="paypal_payment()">Buy Credit</button>
                                    </div>
				</div>
                            </div>
				
				<hr></hr>
				<b>Payment card authorization hold</b>
				    <p>You may see a temporary $1 charge on your credit card. This is not an actual charge - it is just an authorization hold to confirm your billing info - it's instantly reversed.</p>

				<b>Why Should I Buy Prepaid Credit?</b>
				    <p>You get prepaid credit at discounted rates to be spent on Codementor sessions.
				    Unspent credits will rollover for 12 months.</p>

				<b>Payment Powered by Stripe</b>
				    <p>We do not store your credit card information on our system. We use Stripe to handle all the payment transactions. </p>
				<hr></hr>
				 <div class="gaurentee"><h4>100% Satisfaction Guaranteed.</h4>
				 <span>If you're not satisfied, we will cheerily make it right or offer a 100% refund.</span>
				 <img src="http://beta.livehelpout.com/assets/frontend/images/garanciaPecset2.png" alt="" />
				 <p>Credits are in US$, are non-refundable and will expire one year from your last purchase.</p> </div>
			</div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>
