<div ng-controller="userdashboardCtrl">

<!--==========================================================================-->
<section class="search_sec">
    	<div class="top_scroll">
	    	<div class="container">
	    		<div class="first_step">
	    			<h2>What do you need help with ?</h2>
	    			<div class="input-group big_search">
				  <input type="text" class="form-control" name="search1" id="search1" placeholder="i.e. Need help debugging SASS/CSS for frontend in Rails app" aria-describedby="basic-addon2" ng-model="needhelptitle" ng-keypress="gotonextstep($event)" value=""> 
				  <span class="input-group-addon form-inline" id="gotonext" ng-click="gotonextstepclick()">
				  	<p><a class="btn btn-success fa fa-send"></a><span> Press</span> <b>ENTER</b></p>
				  </span>
				</div>
				<div class="group_box">
				  <div class="catgory_holder_cat pull-left">
				  	
				  </div>
				  <input type="hidden" name="editrequestid" id="editrequestid" ng-model="editrequestid">
				  <input type="hidden" name="allselectedcatscats" id="allselectedcatscats" ng-model="allselectedcatscats" value="{{allselectedcatscatsval}}">
				  <input type="hidden" name="allselectedcatscatsids" id="allselectedcatscatsids" ng-model="allselectedcatscatsids" value="{{allselectedcatscatsidval}}">
				  <button type="button" class="btn btn_spin_cat pull-left" id="btn_cat_cat"><i class="fa fa-plus rotate_cat"></i></button><p class="buttontextcat">At least one category is required.</p>
				  	<div class="clearfix"></div>
				  	<div class="row" id="catfild_on_off_cat">
			  			<div class="col-md-6 col-sm-6">
			  				<div class="category_rearch">
								<div class="input-group">
							      <input type="text" class="form-control" placeholder="Add a tag and press Enter" ng-change="writeCatscats();" ng-model="extraCatcat" ng-keypress="submitTagcat($event)" style="border: 1px solid #fff;border-radius: 5px 0px 0px 5px;">
							      <span class="input-group-btn font_aswm">
							        <button class="btn btn-default" type="button" ng-click="addextraCatscat()"><span class="">&#xf067;</span>ADD</button>
							      </span>
							    </div>
								<ul id="allcategoryulcat">
							           <li ng-repeat="allcategory in allparentcategories | limitTo:15" id="{{allcategory.Category.id}}" ng-click="chooseCatcat(allcategory.Category.id,allcategory.Category.name);"><a href="javascript:void(0);">{{allcategory.Category.name}}</a></li>
								</ul>
			  				</div>
			  			</div>
				  	</div>
				  </div>
				<a href="javascript:void(0);" class="help">Looking for a long-term mentor?</a>
				<div class="clearfix"></div>
	    		</div>
	    																		<div class="second_step">
    			<h2><a href="javascript:void(0);" class="fa fa-backward" id="goto_back"></a><span id="needhelptitleid"></span><i class="fa fa-edit" id="goto_back_icon" style="cursor:pointer;"></i>
    			<div class="clearfix"></div>
    			</h2>
    			<div class="clearfix"></div>

                          <!--------------- Options Commented ------------------->
			  <div class="group_box" style="display:none;">
		  	   <div class="row">
	  			<div class="col-md-3 col-sm-6">
	  				<div class="schdule_div checked">
	  					 <a>&#xf133;</a> Schedule a Session <br/>
	  					 for more mentors to choose from
	  				</div>
	  			</div>
	  			<div class="col-md-3 col-sm-6">
	  				<div class="schdule_div">
	  					 <a>&#xf0eb;</a> Instant Session Now<br/>for quick & easy requests
	  				</div>
	  			</div>
	  			<div class="clearfix"></div>
	  			<!--<p class="text-danger">No mentors available for instant sessions at the moment. Please try again with more categories, or schedule a session.</p>-->
		  	     </div>
		            </div>
                          <!--------------- Options Commented ------------------->
                          
                          
			    <div class="group_box">
				  <div class="catgory_holder pull-left">
				  	
				  </div>
				  <input type="hidden" name="allselectedcats" id="allselectedcats" ng-model="allselectedcats" value="{{allselectedcatsval}}">
				  <input type="hidden" name="allselectedcatsids" id="allselectedcatsids" ng-model="allselectedcatsids" value="{{allselectedcatsidval}}">
				  <button type="button" class="btn btn_spin pull-left" id="btn_cat"><i class="fa fa-plus rotate"></i></button><p class="buttontext">At least one sub category is required.</p>
				  	<div class="clearfix"></div>
				  	<div class="row" id="catfild_on_off">
			  			<div class="col-md-6 col-sm-6">
			  				<div class="category_rearch">
								<div class="input-group">
							      <input type="text" class="form-control" placeholder="Add a tag and press Enter" ng-change="writeCats();" ng-model="extraCat" ng-keypress="submitTag($event)">
							      <span class="input-group-btn font_aswm">
							        <button class="btn btn-default" type="button" ng-click="addextraCats()"><span class="">&#xf067;</span>ADD</button>
							      </span>
							    </div>
								<ul id="allcategoryul">
							           <li ng-repeat="allsubcategory in allsubcategories | limitTo:15" id="{{allsubcategory.Category.id}}" ng-click="chooseCat(allsubcategory.Category.id,allsubcategory.Category.name);"><a href="javascript:void(0);">{{allsubcategory.Category.name}}</a></li>
								</ul>
			  				</div>
			  			</div>
				  	</div>
				  	<h5>Request Details:</h5>
				  	<div class="row">
			  			<div class="col-md-6 col-sm-6">
			  				<textarea class="form-control" rows="3" name="requestdetails" id="requestdetails" ng-model="requestdetails"></textarea>
			  			</div>
				       </div>
				  	
				       <div ng-show="request_file_edit_div" style="margin-top:10px;">
				  	<div ng-if="allrequestfiles.file_exist =='1'">
                                         <div ng-if="allrequestfiles.imagefileexist =='1'" class="request_images_div_outer">
                                          <h5>Images:</h5>
                                           <div class="clearfix"></div>
                                           <div class="request_images_div" ng-repeat="reqfile in allrequestfiles.files | filter : {filetype: 'image'}" style="margin-right:38px;" id="reqfilediv{{reqfile.id}}">
                                             <img src="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}">
                                             <i class="glyphicon glyphicon-trash" style="color:#fff;position:absolute;top:83px;right:-24px;cursor:pointer;" ng-click="deleteFile(reqfile.id,reqfile.file,1)"></i>
                                           </div>
                                           <div class="clearfix"></div>
                                         </div>
                                         <div class="clearfix"></div>
                                         <div ng-if="allrequestfiles.otherfileexist =='1'" class="request_files_div_outer">
                                          <h5>Other Files:</h5>
                                           <div class="clearfix"></div>
                                           <div class="request_files_div" ng-repeat="reqfile in allrequestfiles.files | filter : {filetype: 'pdf'}" style="margin-right:38px;" id="reqfilediv{{reqfile.id}}">
                                            <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank" style="color:#CBCFD3;">{{reqfile.file}}</a> <i class="glyphicon glyphicon-trash" style="color: #fff;float:right;cursor:pointer;" ng-click="deleteFile(reqfile.id,reqfile.file,2)"></i>
                                           </div>
                                           <div class="clearfix"></div>
                                         </div>
                                         <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
				       </div>
				       <div class="clearfix"></div>
				       
				  	<h5>Upload Files <span style="font-size:14px;color:#fff;font-weight: 400;font-family: 'proxima_nova_rgregular';">(png, jpg, jpeg, gif, pdf files only)</span>:</h5>

                                        <form id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-app="demo" data-ng-controller="RequestFileUploadController" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                                                <!-- Redirect browsers with JavaScript disabled to the origin page -->
                                                <noscript><input type="hidden" name="redirect" value=""></noscript>
                                                <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-lg-7">
                                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>Add files...</span>
                                                            <input type="file" name="files[]" multiple ng-disabled="disabled">
                                                        </span>
                                                        <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                                            <i class="glyphicon glyphicon-upload"></i>
                                                            <span>Start upload</span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                            <span>Cancel upload</span>
                                                        </button>
                                                        <!-- The global file processing state -->
                                                        <span class="fileupload-process"></span>
                                                    </div>
                                                    <!-- The global progress state -->
                                                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                                                        <!-- The global progress bar -->
                                                        <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                        <!-- The extended global progress state -->
                                                        <div class="progress-extended">&nbsp;</div>
                                                    </div>
                                                </div>
                                                <!-- The table listing the files available for upload/download -->
                                                <input type="hidden" id="hiddenfiles" value="1">
                                                <table class="table files ng-cloak">
                                                    <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}" style="color: #fff;">
                                                        <td data-ng-switch data-on="!!file.thumbnailUrl">
                                                            <div class="preview" data-ng-switch-when="true">
                                                                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                                                            </div>
                                                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                                                        </td>
                                                        <td>
                                                            <p class="name" data-ng-switch data-on="!!file.url">
                                                                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                                                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                                                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                                                </span>
                                                                <span data-ng-switch-default>{{file.name}}</span>
                                                            </p>
                                                            <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                                                        </td>
                                                        <td>
                                                            <p class="size">{{file.size | formatFileSize}}</p>
                                                            <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                                                <i class="glyphicon glyphicon-upload"></i>
                                                                <span>Start</span>
                                                            </button>
                                                            <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                                <span>Cancel</span>
                                                            </button>
                                                            <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                                                <i class="glyphicon glyphicon-trash"></i>
                                                                <span>Delete</span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                         </form>
                                        
				  	<h5>What's your maximum budget?</h5>
				  	<div class="row">
			  		   <div class="col-md-6 col-sm-12">
  						<div class="price_div" id="price_div_40" price="40">
  							$40
  						</div>
  					
  						<div class="price_div active" id="price_div_60" price="60">
  							$60
  						</div>
  					
  						<div class="price_div" id="price_div_120" price="120">
  							$120
  						</div>
  					
  						<div class="price_div" id="price_div_160" price="160">
  							$160
  						</div>
  					
  						<div class="price_div" id="price_div_200" price="200">
  							$200
  						</div>
  					
  						<div class="price_div" id="price_div_320" price="320">
  							$320
  						</div>
  						<input type="hidden" name="budget" id="budget" ng-model="budget" value="60">
			  		    </div>
				  	</div>
				  </div>
				  <div class="group_box class_last_submit">
				  	<button type="submit" class="btn btn-warning btn-lg" ng-click="submithelp()" style="margin-left: 2px;padding: 10px 14px !important;font-size: 17px !important;" data-style="zoom-in"  ladda="loading" data-spinner-size="25"><i class="fa fa-paper-plane"></i>Send Request</button>
				    <!--<div class="checkbox">
				      <label>
				          <input type="checkbox" id="c1" name="cc" class="check_box" np-model="makeprivate"/>
					  <label for="c1" id="checkboxc1"><span></span>Make this private</label>
				      </label>
				    </div>-->
				  </div>
    		</div>
	    	</div>
    	</div>
    	<div class="cancel_sec text-center">
    		<i class="fa fa-chevron-circle-up"></i><br/>
    		<span>Cancel</span>
    		<div class="powerd_by"><span>Powered By</span><img src="{{siteurl}}assets/frontend/images/logo.png" alt="LiveHelpout"/></div>
    	</div>
 </section>
<!--=========================================================================-->


<section class="body-wrapper">
<div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
 <div id="flash_notice">{{alert.msg}}</div>
</div>
<div class="container">
 <div class="row">
  <div data-ng-include data-src="'assets/views/frontend/includes/profile_left.html'"></div>
   <div class="col-md-9">
   <!--=============================Active Request Start=======================-->
   <!--=============================watch video modal=======================-->
    <div class="act-modal modal fade" id="watchvideomodal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">How LiveHelpout Works</h4>
                        </div>
                <div class="modal-body extraspace" style="padding:14px 18px;">
                          <iframe width="560" height="315" id="watchyoutubevideo" frameborder="0" allowfullscreen></iframe>
                        </div>
                <div class="modal-footer"> 
                   
                    <a href="javascript:void(0);" ng-click="closewatchvideomodal();" class="btn btn-primary">Close </a> </div>
              </div>
          </div>
    </div> 
   <!--===================================================================-->
   <div class="right-block-new activereq" ng-show="noactiverequest"> 
    <div class="well issues">
     <ul class="issues-list active-requests" style="margin-left:-25px;">
        <li>
         <div class="clearfix">
          <div class="content">
             <h4>
                <div class="icon-left-new" style="margin:-7px 6px 0 0">
                    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                </div> How LiveHelpout Works
              <button class="btn btn-primary" ng-click="openwatchvideomodal()" style="margin-left:20px;margin-top: -8px;padding: 8px 19px;">
                <i class="fa fa-play"></i> Watch Video
              </button>
            </h4>
            <hr>
            <h4 class="title1">
              Issues previously solved on LiveHelpout:
            </h4>
            <div class="row-fluid">
             <div class="span6">
               <p>
                Please help review my database design
                <br>
                <span class="muted small">
                   <i class="fa fa-check-circle-o"></i> Solved within 45 minutes
                </span>
              </p>
              <p>
               Code review for my Javascript
               <br>
               <span class="muted small">
                 <i class="fa fa-check-circle-o"></i> Connected in 15 minutes
               </span>
              </p>
              <p>
               Our production server is super slow.  Please help!
               <br>
               <span class="muted small">
                  <i class="fa fa-check-circle-o"></i> Solved within 30 minutes
               </span>
              </p>
            </div>
            <div class="span6">
             <p>
              Urgent iOS debugging help needed
              <br>
              <span class="muted small">
                   <i class="fa fa-check-circle-o"></i> Solved within 30 minutes
              </span>
             </p>
             <p>
              Pair program with me in Ruby on Rails
              <br>
              <span class="muted small">
                  <i class="fa fa-check-circle-o"></i> Connected in 10 minutes
              </span>
             </p>
            </div>
          </div>
         </div>
    </div>
 <div class="clearfix">
 <div class="content">
 <hr>
 <h4 class="title2">
    Ideas On How to Use LiveHelpout:
 </h4>
 <div class="row-fluid topdashboardbelow">
  <div class="span6">
   <div class="row-fluid">
    <div class="span3 center">
      <a href="javascript:void(0);">
         <img class="img-circle img-head" src="https://s3.amazonaws.com/codementor_content/brad-ceresani.jpg" style="max-width:47px;">
      </a>
    </div>
    <div class="span9">
     <b>
      <a href="javascript:void(0);">Freelance Developers</a>
     </b>
       use LiveHelpout for on-demand code reviews to build scalable apps for clients.
    </div>
   </div>
  </div>
  <div class="span6">
   <div class="row-fluid">
    <div class="span3 center">
     <a href="javascript:void(0);">
        <img class="img-circle img-head" src="https://s3.amazonaws.com/codementor_content/taylor-black.jpg" style="max-width:47px;">
     </a>
   </div>
   <div class="span9">
     <b>
      <a href="javascript:void(0);">Web Development Agencies</a>
     </b>
       use LiveHelpout for expert knowledge on-demand and save months of work
    </div>
   </div>
  </div>
  <div style="clear:both"></div>
 </div>
 <div class="row-fluid topdashboardbelow">
  <div class="span6">
   <div class="row-fluid">
    <div class="span3 center">
     <a href="javascript:void(0);">
       <img class="img-circle img-head" src="https://s3.amazonaws.com/codementor_content/general-assembly.png" style="max-width:47px;">
     </a>
    </div>
   <div class="span9">
   <b>
    <a href="javascript:void(0);">Novice Programmers</a>
   </b>
      use LiveHelpout for quick solutions to problems they'd have no other way to solve.
   </div>
  </div>
  </div>
  <div class="span6">
  <div class="row-fluid">
   <div class="span3 center">
    <a href="javascript:void(0);">
     <img class="img-circle img-head" src="https://s3.amazonaws.com/codementor_content/maximilian-maksutovic.jpg" style="max-width:47px;">
   </a>
  </div>
  <div class="span9">
   <b>
    <a href="javascript:void(0);">Startups</a>
   </b>
      use LiveHelpout to solve unanswered Stackoverflow problems and deliver features on time.
   </div>
  </div>
  </div>
  <div style="clear:both"></div>
  </div>
  <br>
  </div>
 </div>
 </li>
 </ul>
</div>
</div>
<!--===================================Active Request Listings======================================-->
<div class="right-block-new activereq" ng-show="!noactiverequest">
  <ul class="right-block-top">
       <li ng-repeat="allactiverequest in allactiverequests" style="position: relative">
           <div class="round-common green" ng-if="allactiverequest.status==0">
               <h3>Open</h3>               
           </div>
           <div class="round-common blue" ng-if="allactiverequest.status==3">
               <h3>Working</h3>               
           </div>
             <div class="icon-qustion" ng-click="open_active_request(allactiverequest.id);" style="cursor:pointer;"> 
               <i class="fa fa-question"></i> 
             </div>
             <div class="icon-content-new-2" ng-click="open_active_request(allactiverequest.id);" style="cursor:pointer;">
                <h2>{{allactiverequest.title}}</h2>
                <div class="col-md-6" style="padding-left:0;">
                 <div ng-if="allactiverequest.imagefileexist =='1'" class="request_images_div_outer">
                  <div class="clearfix"></div>
                  <!---------------------------------->
                    <div  ng-photo-grid =   ""
                        images        =   "allactiverequest.images"
                        grid-options  =   "gridOptions"
                        ng-class      =   "{'loading': isBuildingGrid}"
                        class         =   "feed-photos">
                     </div>
                  <!---------------------------------->
                 <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div ng-if="allactiverequest.otherfileexist =='1'" class="request_files_div_outer">
                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                 <div class="clearfix"></div>
                 <div class="request_files_div" ng-repeat="reqfile in allactiverequest.files | filter : {filetype: 'pdf'}">
                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                </div>
                <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>
                 <div id="likediv{{allactiverequest.id}}">
                   <i class="fa fa-heart-o" ng-click="likerequest(allactiverequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allactiverequest.id}}" ng-if="allactiverequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(allactiverequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allactiverequest.id}}" ng-if="allactiverequest.already_liked =='1'"></i> <span id="likecount{{allactiverequest.id}}">{{allactiverequest.count_like}}</span>
                 </div>
                <div class="clearfix"></div>
                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{allactiverequest.selectedmaincats}} </p>
                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{allactiverequest.selectedcats}} </p>
                <p><span>NEW REQUEST — {{allactiverequest.posttime}} — Budget: ${{allactiverequest.budget}}/hr</span></p>
             </div>
             <div class="confirm" id="activerequestdetails{{allactiverequest.id}}" style="display:none;">
              <p>
               <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{allactiverequest.userimage!=''?allactiverequest.userimage:'noimage.png'}}"> </div> {{allactiverequest.username}} - {{allactiverequest.usertimezone}}
              </p>
              <p>{{allactiverequest.details}}</p>
              <div class="clearfix"></div>
              <a href="javascript:void(0);" ng-click="edit_active_request(allactiverequest.id)"><i class="fa fa-edit"></i> Edit Request</a>
              <hr>
              <!------------ Comment --------->
              <div class="commentarea" style="padding:5px 0;">    
                    <div ng-repeat="comments in allactiverequest.allcomments">  
                        <div id="{{comments.id}}">
                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                <div class="profile_img-new">
                                    <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                                </div> 
                            </div>
                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                <h2 style="font-size:18px;margin-top:0px;"><a ng-href="{{siteurl}}frontend/mentor/{{comments.name}}" target="_blank">{{comments.name}}</a>
                                    <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                     <span ng-if="loggedindetails.id == comments.userid" style="cursor: pointer; margin-left:10px; font-size: 14px;"  ng-click="deletecomment(comments.id);">X</span>
                                </h2> 
                                <p>{{comments.comment}}</p>
                            </div>
                                 <hr  style='clear: both;'>
                        </div>
                    </div>
                    <!--<div ng-repeat="comments in relatedrequest.comments">  
                        <div id="{{comments.id}}">
                        <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                            <div class="profile_img-new">
                                <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                            </div> 
                        </div>
                        <div  class="col-md-11 col-sm-11 col-xs-9">
                            <h2><a>{{comments.name}}</a>
                                <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                 <span ng-if="loggedindetails.id == comments.userid" style="cursor: pointer; margin-left:10px; font-size: 14px;"  ng-click="deletecomment(comments.id);">X</span>
                            </h2> 
                            <p>{{comments.comment}}</p>
                        </div>
                             <hr  style='clear: both;'>
                    </div>
                    </div>-->
                </div>
                <div class="col-md-11 col-sm-11 col-xs-9">
                    <textarea placeholder="Add comment here." id="textarea_{{allactiverequest.id}}" class="text-area-new"></textarea>
                    <div class="attached-section">
                        <a  href="javascript:void(0);" ng-if="!allactiverequest.attachment" ><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Attached File</a>
                        <input type="file" ng-if="allactiverequest.attachment" name="{{allactiverequest.id}}" style="float:left;" onchange="angular.element(this).scope().addattchment(this.files,this.name)">
                        <input type="hidden" id="hidden_attach_{{allactiverequest.id}}" ng-model="allactiverequest.new_attachment">
                        <a  href="javascript:void(0);" class="btn btn-sm btn-success pull-right" ng-click="addcomment(allactiverequest.id, 'other', allactiverequest);" data-style="zoom-in" ladda="loading1" data-spinner-size="25">Send</a>
                    </div>
                </div>
              <hr  style='clear: both;'>
              
              <!------------ Comment --------->              
              <a href="javascript:void(0);" class="btn btn-success">
                <i class="fa fa-play"></i> Connect with a Mentor Now
              </a> 
              <a href="javascript:void(0);" class="btn btn-primary" ng-if="allactiverequest.mentors.length>0" ng-click="show_mentors(allactiverequest.mentors,$index)">
                <i class="fa fa-list"></i> Interested Mentors
              </a> 
              <!--<a href="javascript:void(0);" class="btn btn-default" ng-click="mark_as_solved(allactiverequest.id);">
                <i class="fa fa-check"></i> Mark as Solved
              </a>-->
              <a href="javascript:void(0);" ng-if="allactiverequest.status==0" class="btn btn-danger" ng-click="mark_as_cancel(allactiverequest.id);">
                <i class="fa fa-close"></i> Cancel Request
              </a> 
			  <a href="/frontend/transactions" class="btn btn-default">
                $ Manage
              </a>
              
              <!---------------------------  Interested Mentors List ----------------------->
                <table class="mentor_table " ng-if="allactiverequest.mentors.active">
                    <tr>
                            <th>#</th>
                            <th>Name</th>				
                            <th>Timezone</th>
                            <th>Status</th>
                            <th>Action</th>
                    </tr>
                    <tr ng-repeat="interested_mentor in allactiverequest.mentors">
                            <td>{{$index+1}}</td>
                            <td><a ng-href="/frontend/mentor/{{interested_mentor.name}}" target="_blank" style="color:#337ab7">{{interested_mentor.name}}</a></td>
                            <td>{{interested_mentor.timezone}}</td>
                            <td>
                                <button class="btn" ng-if="interested_mentor.status==0" ng-click="check_escrow(interested_mentor,allactiverequest)" ladda="allactiverequest.mentors.loginLoading">Accept</button>
                                <!--<button class="btn" ng-if="interested_mentor.status==0 && ((parseInt(allactiverequest.budget) < parseInt(loggedindetails.credit_tokens)) || (parseInt(allactiverequest.budget) == parseInt(loggedindetails.credit_tokens)))" ng-click="escrow_modal(interested_mentor,allactiverequest)" ladda="allactiverequest.mentors.loginLoading">{{allactiverequest.budget}}|{{loggedindetails.credit_tokens}}|Accept2</button>-->
                                <a class="green" ng-if="interested_mentor.status==1">Accepted</a>
                                <a class="red" ng-if="interested_mentor.status==2">Decline</a>
                            </td>
                            <td><button class="btn" ng-click="openChat(interested_mentor)">Chat</button></td>
                    </tr>
                </table>
              <!---------------------------  Interested Mentors List ----------------------->
         </div>
      </li>
   </ul>
</div>
<!--=============================Active Request End=======================-->
<!--=============================Request History Start=======================-->
<div class="left-box requesthistory" style="display:none">
    <div class="hor">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" id="lisession" class="requesthistoryli active"><a href="javascript:void(0);" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" ng-click="openrequesthistorytab('session');">
Sessions</a></li>
      <li role="presentation" class="requesthistoryli" id="limenu2"><a href="javascript:void(0);" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" ng-click="openrequesthistorytab('menu2');">
Finished Requests</a></li>
      <li role="presentation" class="requesthistoryli" id="limenu3"><a href="javascript:void(0);" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" ng-click="openrequesthistorytab('menu3');">
Cancelled Requests</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="requesthistrydiv tab-pane fade in active" id="session" aria-labelledby="home-tab">
       <ul class="right-block-top">
        <li>
         <div class="icon-left-new">
           <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
         </div>
         <div class="icon-content-2">
           <p style="margin-top: 7px;">
             You don't have any closed sessions yet.
           </p>
         </div>
       </li>
      </ul>
    </div>
    
    <div role="tabpanel" class="requesthistrydiv tab-pane fade" id="menu2" aria-labelledby="profile-tab">
     <ul class="right-block-top" ng-show="nofinishedrequest">
      <li>
       <div class="icon-left-new">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
       </div>
       <div class="icon-content-2">
         <p style="margin-top: 7px;">
           You don't have any finished request yet.
         </p>
       </div>
      </li>
    </ul>
    <ul class="right-block-top" ng-show="!nofinishedrequest">
       <li ng-repeat="allfinishedrequest in allfinishedrequests">
             <div class="icon-qustion" ng-click="open_active_request(allfinishedrequest.id);" style="cursor:pointer;border:2px solid #C1BFBF;"> 
               <i class="fa fa-check" style="color:#C1BFBF;"></i> 
             </div>
             <div class="icon-content-new-2" ng-click="open_active_request(allfinishedrequest.id);" style="cursor:pointer;">
                <h2>{{allfinishedrequest.title}}</h2>
                <div class="col-md-6" style="padding-left:0;">
                 <div ng-if="allfinishedrequest.imagefileexist =='1'" class="request_images_div_outer">
                  <div class="clearfix"></div>
                  <!---------------------------------->
                    <div  ng-photo-grid =   ""
                        images        =   "allfinishedrequest.images"
                        grid-options  =   "gridOptions"
                        ng-class      =   "{'loading': isBuildingGrid}"
                        class         =   "feed-photos">
                     </div>
                  <!---------------------------------->
                 <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div ng-if="allfinishedrequest.otherfileexist =='1'" class="request_files_div_outer">
                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                 <div class="clearfix"></div>
                 <div class="request_files_div" ng-repeat="reqfile in allfinishedrequest.files | filter : {filetype: 'pdf'}">
                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                </div>
                <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>
                 <div id="likediv{{allfinishedrequest.id}}">
                   <i class="fa fa-heart-o" style="color:#F03A3A;" id="likeheart{{allfinishedrequest.id}}"></i> <span id="likecount{{allfinishedrequest.id}}">{{allfinishedrequest.count_like}}</span>
                 </div>
                <div class="clearfix"></div>
                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{allfinishedrequest.selectedmaincats}} </p>
                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{allfinishedrequest.selectedcats}} </p>
                <p><span>SOLVED — {{allfinishedrequest.posttime}} — Budget: ${{allfinishedrequest.budget}}/hr</span></p>
             </div>
             <div class="confirm" id="activerequestdetails{{allfinishedrequest.id}}" style="display:none;">
				  <p>
				   <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{allfinishedrequest.userimage!=''?allfinishedrequest.userimage:'noimage.png'}}"> </div> {{allfinishedrequest.username}} - {{allfinishedrequest.usertimezone}}
				  </p>
				  <p>{{allfinishedrequest.details}}</p>
				  <div class="clearfix"></div>
				  <div class="commentarea" style="padding:5px 0;">    
                    <div ng-repeat="comments in allfinishedrequest.allcomments">  
                        <div id="{{comments.id}}">
                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                <div class="profile_img-new">
                                    <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                                </div> 
                            </div>
                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                <h2 style="font-size:18px;margin-top:0px;"><a ng-href="{{siteurl}}frontend/mentor/{{comments.name}}" target="_blank">{{comments.name}}</a>
                                    <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                     
                                </h2> 
                                <p>{{comments.comment}}</p>
                            </div>
                                 <hr  style='clear: both;'>
                        </div>
                    </div>
                    
				  </div> 
			 </div>
      </li>
   </ul>
   </div>
   
   <div role="tabpanel" class="requesthistrydiv tab-pane fade" id="menu3" aria-labelledby="profile-tab">
    <ul class="right-block-top" ng-show="nocancelrequest">
     <li>
       <div class="icon-left-new">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
       </div>
       <div class="icon-content-2">
        <p style="margin-top: 7px;">
          You don't have any cancelled request yet.
        </p>
       </div>
    </li>
   </ul>
   <ul class="right-block-top" ng-show="!nocancelrequest">
       <li ng-repeat="allcancelledrequest in allcancelledrequests">
             <div class="icon-qustion" ng-click="open_active_request(allcancelledrequest.id);" style="cursor:pointer;border:2px solid #C1BFBF;"> 
               <i class="fa fa-exclamation" style="color:#C1BFBF;"></i> 
             </div>
             <div class="icon-content-new-2" ng-click="open_active_request(allcancelledrequest.id);" style="cursor:pointer;">
                <h2>{{allcancelledrequest.title}}</h2>
                <div class="col-md-6" style="padding-left:0;">
                 <div ng-if="allcancelledrequest.imagefileexist =='1'" class="request_images_div_outer">
                  <div class="clearfix"></div>
                  <!---------------------------------->
                    <div  ng-photo-grid =   ""
                        images        =   "allcancelledrequest.images"
                        grid-options  =   "gridOptions"
                        ng-class      =   "{'loading': isBuildingGrid}"
                        class         =   "feed-photos">
                     </div>
                  <!---------------------------------->
                 <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div ng-if="allcancelledrequest.otherfileexist =='1'" class="request_files_div_outer">
                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                 <div class="clearfix"></div>
                 <div class="request_files_div" ng-repeat="reqfile in allcancelledrequest.files | filter : {filetype: 'pdf'}">
                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                </div>
                <div class="clearfix"></div>
                </div>
                </div>
                <div class="clearfix"></div>
                 <div id="likediv{{allcancelledrequest.id}}">
                   <i class="fa fa-heart-o" style="color:#F03A3A;" id="likeheart{{allcancelledrequest.id}}"></i> <span id="likecount{{allcancelledrequest.id}}">{{allcancelledrequest.count_like}}</span>
                 </div>
                <div class="clearfix"></div>
                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{allcancelledrequest.selectedmaincats}} </p>
                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{allcancelledrequest.selectedcats}} </p>
                <p><span>CANCELLED — {{allcancelledrequest.posttime}} — Budget: ${{allcancelledrequest.budget}}/hr</span></p>
             </div>
             <div class="confirm" id="activerequestdetails{{allcancelledrequest.id}}" style="display:none;">
              <p>
               <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{allcancelledrequest.userimage!=''?allcancelledrequest.userimage:'noimage.png'}}"> </div> {{allcancelledrequest.username}} - {{allcancelledrequest.usertimezone}}
              </p>
              <p>{{allcancelledrequest.details}}</p>
              <div class="clearfix"></div>
			  <div class="commentarea" style="padding:5px 0;">    
                    <div ng-repeat="comments in allcancelledrequest.allcomments">  
                        <div id="{{comments.id}}">
                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                <div class="profile_img-new">
                                    <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                                </div> 
                            </div>
                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                <h2 style="font-size:18px;margin-top:0px;"><a ng-href="{{siteurl}}frontend/mentor/{{comments.name}}" target="_blank">{{comments.name}}</a>
                                    <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                     
                                </h2> 
                                <p>{{comments.comment}}</p>
                            </div>
                                 <hr  style='clear: both;'>
                        </div>
                    </div>
                    
				  </div> 
         </div>
      </li>
   </ul>
  </div>
</div>
</div> 
</div>
<!--=========================================================================--> 

<!--=============================Long Term Mentorship Start=======================-->
<div class="left-box longtermmentorship" style="display:none">
    <div class="hor">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li role="presentation" id="limentorship" class="longtermmentorshipli active"><a href="javascript:void(0);" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" ng-click="openlongtermmentorshiptab('mentorship');">
Long-term Mentorship</a></li>
      <li role="presentation" class="longtermmentorshipli" id="limentors"><a href="javascript:void(0);" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" ng-click="openlongtermmentorshiptab('mentors');">
Find Long-term Mentors</a></li>
    </ul>
    <a class="btn btn-primary btn-large" href="javascript:void(0);" style="white-space:inherit;float:right;position: absolute;top: 14px;right: 29px;">
      Find a long-term mentor
    </a>
    <div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="lngtrmmentrshpdiv tab-pane fade in active" id="mentorship" aria-labelledby="home-tab">
       <div class="howItWorks issues">
        <div class="clearfix">
         <div class="icon-qustion"> 
             <i class="fa fa-search"></i> 
         </div>
         <div class="detail">
           <div class="row-fluid">
            <div class="span12">
               <h4 class="headline">
                Dedicated Long-term Mentorship:
               </h4>
               <br>
               <a class="btn btn-primary btn-large" href="javascript:void(0);" style="white-space:inherit">
                Find a long-term mentor
               </a>
               <br>
              <br>
           <hr>
           <h4 class="subheadline">
             How do I select a Dedicated LiveHelpout?
           </h4>
           <p class="muted">
             As you start seeing interested mentors here, message them directly to discuss more about your requirement.  Once you've decided whom you'd like to work with, click on "choose as mentor" and you will be able to start right away.
           </p>
           <br>
           <h4 class="subheadline">
            How does billing work?
           </h4>
           <p class="muted">
            You can purchase a long-term mentorship package for 1 to 3 months.  For a 3-month commitment you're guaranteed to lock the discounted rate with the mentor for a longer period of time.
           </p>
           <br>
           <h4 class="subheadline">
            What if I don't use all hours in a month?
           </h4>
           <p class="muted">
            You are not required to complete all hours in a given month, as we understand occasional cancellations may happen from both sides.  However since the mentor has already made the commitment, we do ask you to complete all hours within 3 months.
           </p>
           <br>
           <h4 class="subheadline">
            What if the mentor isn't the right fit and I'd like to change the mentor?
           </h4>
           <p class="muted">
            If you feel the mentor isn't the right fit, please let us know and we're happy to help you find another mentor with similar rates.
           </p>
           <br>
           <h4 class="subheadline">
            What if I've used up all hours this month but wanted to have more sessions?
           </h4>
           <p class="muted">
            Sure!  All extra sessions will be billed at the same long-term mentorship rate.
           </p>
          </div>
          </div>
         </div>
        </div>
       </div>
    </div>
    
    <div role="tabpanel" class="lngtrmmentrshpdiv tab-pane fade" id="mentors" aria-labelledby="profile-tab">
     <div class="howItWorks issues">
        <div class="clearfix">
         <div class="icon-qustion"> 
             <i class="fa fa-search"></i> 
         </div>
         <div class="detail">
           <div class="row-fluid">
            <div class="span12">
               <h4 class="headline">
                Dedicated Long-term Mentorship:
               </h4>
               <br>
               <a class="btn btn-primary btn-large" href="javascript:void(0);" style="white-space:inherit">
                Find a long-term mentor
               </a>
               <br>
              <br>
           <hr>
           <h4 class="subheadline">
             How do I select a Dedicated LiveHelpout?
           </h4>
           <p class="muted">
             As you start seeing interested mentors here, message them directly to discuss more about your requirement.  Once you've decided whom you'd like to work with, click on "choose as mentor" and you will be able to start right away.
           </p>
           <br>
           <h4 class="subheadline">
            How does billing work?
           </h4>
           <p class="muted">
            You can purchase a long-term mentorship package for 1 to 3 months.  For a 3-month commitment you're guaranteed to lock the discounted rate with the mentor for a longer period of time.
           </p>
           <br>
           <h4 class="subheadline">
            What if I don't use all hours in a month?
           </h4>
           <p class="muted">
            You are not required to complete all hours in a given month, as we understand occasional cancellations may happen from both sides.  However since the mentor has already made the commitment, we do ask you to complete all hours within 3 months.
           </p>
           <br>
           <h4 class="subheadline">
            What if the mentor isn't the right fit and I'd like to change the mentor?
           </h4>
           <p class="muted">
            If you feel the mentor isn't the right fit, please let us know and we're happy to help you find another mentor with similar rates.
           </p>
           <br>
           <h4 class="subheadline">
            What if I've used up all hours this month but wanted to have more sessions?
           </h4>
           <p class="muted">
            Sure!  All extra sessions will be billed at the same long-term mentorship rate.
           </p>
          </div>
          </div>
         </div>
        </div>
       </div>
   </div>
    
</div>
</div> 
</div>
<!--=========================================================================--> 

<!--===================================Live Helpout Monthly======================================-->
<div class="left-box livehelpoutmonthly" style="display:none">
  <div class="row-fluid">
   <div class="span12">
    <h4 class="headline">
     LiveHelpout Monthly
    </h4>
    <p class="marketing-byline">
     Work with a dedicated mentor to accelerate your progress with expert guidance and best practices.
    </p>
   </div>
   <br>
   <div class="row-fluid linehelpoutmnthly">
    <div class="span3 offset1">
      <center>
       <div class="module">
        <img class="iconImg" src="{{siteurl}}assets/frontend/images/mentorship.png">
        <b>Get Matched with a LiveHelpout</b>
       </div>
      </center>
    </div>
    <div class="span3">
      <center>
       <div class="module">
        <img class="iconImg" src="{{siteurl}}assets/frontend/images/schedule.png">
        <b>Schedule 1:1 Regular Meetings</b>
       </div>
      </center>
    </div>
    <div class="span3">
      <center>
       <div class="module">
        <img class="iconImg" src="{{siteurl}}assets/frontend/images/accelerate.png">
        <b>Accelerate Your Progress</b>
       </div>
      </center>
    </div>
   </div>
   <br>
   <br>
   <div class="row-fluid linehelpoutmnthlybtn center">
      <a class="btn btn-primary btn-large" href="javascript:void(0);" style="white-space:inherit;float:none;">
       Learn More About LiveHelpout Monthly
      </a>
   </div>
  </div>
</div>
<!--=============================Live Helpout Monthly End=======================-->

<!--==================================Mentor listings=======================================-->  
<div class="right-block-new" ng-show="nomentoravailable">
<div role="tabpanel" class="tab-pane fade in active" aria-labelledby="home-tab">
   <ul class="right-block-top">
       <li>
         <div class="icon-left-new">
           <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
         </div>
         <div class="icon-content-2">
           <p style="margin-top: 7px;">
             No mentor is available.
           </p>
         </div>
      </li>
   </ul>
</div>
</div>
<div class="right-block-new" ng-show="!nomentoravailable">
  <div class="header" style="background: #fff;padding: 2px 7px;border:1px solid #efefef;">
   <div class="status"></div>
    <h4 style="color: #073648;">
    <img src="{{siteurl}}assets/frontend/images/free_session.png" alt="Free Session" style="width:43px;margin:0px 7px;">Try First Session FREE with Featured Expert Mentors
   </h4>
</div>
  <div class="all-profile" ng-repeat="allrelatedmentor in allrelatedmentors">
    <div style="float:left;">
      <img src="{{siteurl}}assets/upload/user_images/{{allrelatedmentor.image!=''?allrelatedmentor.image:'noimage.png'}}" class="image-thumb" alt="{{allrelatedmentor.name}}">
    </div>
    <div class="profile-name">
     <h3>{{allrelatedmentor.name}}&nbsp;&nbsp;&nbsp;&nbsp; 
      <span ng-if="allrelatedmentor.login_status =='1'"><i class="fa fa-flash"></i> Instant Session</span>
      <span ng-if="allrelatedmentor.login_status =='2'"><i class="fa fa-circle"></i> Online</span>
      <span ng-if="allrelatedmentor.login_status =='3'" style="color:#FF9900"><i class="fa fa-circle"></i> Away</span>
      <span ng-if="allrelatedmentor.login_status =='4'" style="color:#97989B"><i class="fa fa-circle"></i> Offline</span>
      <a href="javascript:void(0);" class="btn btn-success" style="float: right;">Get Free Session</a>
     </h3>
     <p>{{allrelatedmentor.headline}}</p>
     <span><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
    </div>
    <div class="profile-details-right">
     <p>{{allrelatedmentor.about}}</p>
     <div class="tag">
       <ul>
         <li ng-repeat="expertise in allrelatedmentor.expertises"><a href="javascript:void(0);">{{expertise.tag}}</a></li>
       </ul>
     </div>
     <div class="avail">
      <p class="small">*Available For Hire</p>
     </div>
    </div>
  </div>
  </div>
 </div>
</div>
</div>
<!--==================================Mentor listings=======================================--> 
</section>

<!--==================================Modals=======================================--> 
<div class="act-modal modal fade" id="account-activation-step-1"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" >
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                <div class="modal-body extraspace">
                          <div class="top-steps">
                    <div class="steps act">1</div>
                    <div class="steps">2</div>
                    <div class="steps">3</div>
                    <div class="line"></div>
                  </div>
                          <h3>Which topics would you need help with?</h3>
                          <div class="all-topics">
                    <ul>
                       <li ng-repeat="allcategory in allcategories | limitTo:10"><a id="helpcat{{allcategory.Category.id}}" class="testClick" href="javascript:void(0);" ng-click="active(allcategory.Category.id,allcategory.Category.name);">{{allcategory.Category.name}}</a></li>
                    </ul>
                  </div>
                  <div class="other-topics">
                    <form>
                        <div class="form-group">
                          <tags-input ng-model="tags" class="form-control" style="height:auto;">
                                 <auto-complete source="loadTags($query)"></auto-complete>
                          </tags-input>
                        </div>
                   </form>
                  </div>
                  </div>
                 <input type="hidden" id="categories" value="{{selectedvalues}}" ng-model="selectedcats">
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a>
                    <a href="javascript:void(0);"  class="btn btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25" ng-click="next('account-activation-step-2','1');">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> </div>
                </div>
         </div>
</div>

<div class="act-modal modal fade" id="account-activation-step-2"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                        <div class="modal-body extraspace">
                           <div class="top-steps">
                            <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                            <div class="steps act">2</div>
                            <div class="steps">3</div>
                            <div class="line"></div>
                          </div>
                          <h3>What your general technical experience level?</h3>
                          <div class="user">
                          <div class="radio">
                            <label>
                               <input type="radio" class="iradio_square" ng-model="expertlabel" name="optionsRadios" id="optionsRadios1" value="beginner">
                        Beginner 
                            </label>
                         </div>
                         <div class="radio">
                           <label>
                               <input type="radio" name="optionsRadios" ng-model="expertlabel" id="optionsRadios3" class="iradio_square" value="intermediate">
                        Intermediate 
                           </label>
                         </div>
                         <div class="radio">
                           <label>
                               <input type="radio" name="optionsRadios" ng-model="expertlabel" id="optionsRadios2" class="iradio_square" value="advanced">
                        Advanced 
                           </label>
                         </div>
                       </div>
                    </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a> 
                    <a href="javascript:void(0);" class="btn btn-primary" ng-click="next('account-activation-step-1','');"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous </a>
                    <a href="javascript:void(0);" ng-click="next('account-activation-step-3','2');" class="btn btn-primary" data-style="zoom-in" ladda="loading" data-spinner-size="25">Next <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a> </div>
              </div>
      </div>
</div>

<div class="act-modal modal fade" id="account-activation-step-3"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Lets Get Started</h4>
                        </div>
                <div class="modal-body extraspace">
                          <div class="top-steps">
                    <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                    <div class="steps act compete"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
                    <div class="steps act">3</div>
                    
                  </div>
                          <h3>Why would like to use Live Help Out?</h3>
                          <div class="user">
                    <div class="radio" ng-repeat="(key, value) in whytolikelists" >
                              <label>
                                  <input id="{{key}}" type="checkbox" ng-click="toggleSelection(key)" class="icheckbox_square" ng-model="likelist" name="likelist[]" id="" value="{{key}}">
                        {{value}}</label>
                            </div>
                    
                  </div>
   <input type="hidden" id="whylike" value="{{whylikeselected}}" ng-model="selectedwhy">
                        </div>
                <div class="modal-footer"> 
                    <a href="javascript:void(0);" class="btn btn-default-new" ng-click="skipstep1();">Skip</a> 
                    <a href="javascript:void(0);" ng-click="next('account-activation-step-2','');"  class="btn btn-primary"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Previous </a>
                    <a href="javascript:void(0);" ng-click="done();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-primary">Done <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> </div>
              </div>
                    </div>
          </div>


<div class="act-modal modal fade" id="step4"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                      <div class="modal-content">
                <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Check it out</h4>
                        </div>
                <div class="modal-body extraspace" style="padding:14px 18px;">
                          <iframe width="560" height="315" id="youtubevideo" frameborder="0" allowfullscreen></iframe>
                        </div>
                <div class="modal-footer"> 
                   
                    <a href="javascript:void(0);" ng-click="skipstep1();" class="btn btn-primary">Close </a> </div>
              </div>
          </div>
    </div>



    <!---------------------------  Interested Mentors List ----------------------->
    <div class="custom-modal modal fade" id="intereseted_mentors_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Interested Helpers</h4>
          </div>
          <div class="modal-body">
            <table class="mentor_table">
                    <tr>
                            <th>#</th>
                            <th>Name</th>				
                            <th>Timezone</th>
                            <th>Status</th>
                    </tr>
                    <tr ng-repeat="interested_mentor in interested_mentors">
                            <td>{{$index+1}}</td>
                            <td>{{interested_mentor.name}}</td>
                            <td>{{interested_mentor.timezone}}</td>
                            <td>
                                <button class="btn" ng-if="interested_mentor.status==0" ng-click="accept_mentor(interested_mentor)">Accept</button>
                                <a class="green" ng-if="interested_mentor.status==1">Accepted</a>
                                <a class="red" ng-if="interested_mentor.status==2">Decline</a>
                                <button class="btn" ng-click="openChat()">Chat</button>
                            </td>
                    </tr>
            </table>
          </div>
            <div class="modal-footer">
                <input type="button" value="Close" class="btn btn-primary" data-dismiss="modal">
            </div>

        </div>
      </div>
    </div>
    <!---------------------------  Interested Mentors List ----------------------->

<!-----------------------Modals for escrow----------------------->
<div class="custom-modal modal fade" id="escrowModal"  data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                  <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
               </div>
               <div class="modal-body">
                     <div class="form-group">
                        <div class="col-sm-12">
                           Do you want to put money to Escrow ?
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="accept_mentor(interested_mentor,allactiverequest)" data-style="zoom-in"  type="submit"  ladda="modal_escrow_btn" data-spinner-size="25" class="btn btn-success">Yes</button>
                           <button data-dismiss="modal" id="close_escrow_modal"  class="btn btn-danger">No</button>
                        </div>
                     </div>
                 
                  
               </div>
            </div>
         </div>
</div>
    
<div class="custom-modal modal fade" id="noEscrow"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#fff; border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:#000;" aria-hidden="true">&times;</span></button>
                 
               </div>
               
               <div class="modal-body" id="modal_image_body">
                 <p style="color:red">Sorry you donot have sufficient credit to accept. Please buy credit and then try to accept it.<br> Please wait we are redirecting you to buy credit page.</p>
               </div>
            </div>
         </div>
</div>

</div>
<style>
.left-box{margin-bottom:15px;}
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
.catgory_holder .btn,.catgory_holder_cat .btn{margin-right:4px;}
.well{background:#fff;border:0px;box-shadow:0px 0px 0px 0px;}
.issues-list li{list-style:none;}
.issues-list li .content h4{margin: 0px 0 10px; padding-top:10px;color: #337ab7;}
.row-fluid .span6 p{width:49%;float:left;font-size:15px;}
.row-fluid .span6 p .muted.small{color:#878787;margin-left:3px;font-size:14px;}
.topdashboardbelow{margin-top:30px;}
.topdashboardbelow .span6{width:49%;float:left;}
.topdashboardbelow .span6 .row-fluid .span3{width:auto;float:left;}
.topdashboardbelow .span6 .row-fluid .span9{width:80%;float:left;margin-left:10px;}
.title1{margin: 20px 0 20px;}
.title2{margin: 30px 0 10px;}
.compete span{border:0px !important;color:#fff;}
.detail{float:left;width:90%;}
.muted{color: #8e979b;font-size:15px;}
.headline{margin: 0px 0 10px;padding-top: 10px;}
.subheadline{font-size:15px;color: #073648;}
.linehelpoutmnthly{float:left;margin-bottom:25px;}
.linehelpoutmnthly .span3{width: 23.076923076923077%;float:left;margin-left: 2.564102564102564%;}
.linehelpoutmnthly .span3.offset1{margin-left: 10.547008547008547%;}
.linehelpoutmnthly .span3 .module img{width: 100%;}
.linehelpoutmnthlybtn{float: left;margin-bottom: 20px;text-align: center;width: 100%;}
.table a{color:#eaeaea !important;}
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>

<script>
    	$(document).ready(function(){
    	    //*********body scrollstop************//
    	        $("body").css("overflow", "hidden");
    		
    	    //****************gotonext**********//
    		var effect = 'slide';
    		var options_left = { direction: 'left'}
    		var options_right = { direction: 'right'}
    		var duration = 500;
    		
    		$("#gotonext").click(function(){
    		     var search1=$('#search1').val();
    		     var allselectedcatscats=$('#allselectedcatscats').val();
                     if(allselectedcatscats=='')
                     {
                       $('.buttontextcat').css('color','#E90B0B');
                     }
    		     else if(search1!='' && allselectedcatscats!='')
    		     {
    		       $('.buttontextcat').css('color','#ccc');
    		       $('#needhelptitleid').html(search1);
		       $('.first_step').toggle(effect, options_left, duration,function(){
			        $(".second_step").toggle(effect, options_right, duration);
		       });
		     }
    		});
    		
    		$("#goto_back").click(function(){
		     $('.second_step').toggle(effect, options_right, duration,function(){
			$(".first_step").toggle(effect, options_left, duration);
		     });
    		});
    		
    		$("#goto_back_icon").click(function(){
		     $('.second_step').toggle(effect, options_right, duration,function(){
			$(".first_step").toggle(effect, options_left, duration);
		     });
    		});

    	    //****************button spin**********//
    		$(".btn_spin").click(function(){
		     $(".rotate").toggleClass("down")  ; 
		})
			
		$("#btn_cat").click(function(){
		     $("#catfild_on_off").slideToggle("slow");
		});
		
		$(".btn_spin_cat").click(function(){
		     $(".rotate_cat").toggleClass("down")  ; 
		})
			
		$("#btn_cat_cat").click(function(){
		     $("#catfild_on_off_cat").slideToggle("slow");
		});
			
	   //*****************rote& close*************************/
		$(".rote_close").click(function(){
		     $(this).toggleClass("down")  ;
		     $(this).parent(".btn").fadeOut();
		});
			
	  //**********main slide up down***********//
    		$(".cancel_sec").click(function(){
    		     $( ".search_sec" ).slideUp(700);
    		});
    		
         //**********choose price div***********//    
                $(".price_div").click(function()
            	{
            	  $('.price_div').removeClass('active');
            	  $(this).addClass('active');
            	  var price=$(this).attr('price');
            	  $('#budget').val(price);
            	});
            	
          
    		
	  //for first step serach field*********//
    		$( "#search1" ).keyup(function(e) {
    		     if( $(this).val()=="")
    		     {
    			$( "#gotonext" ).css("opacity","0");
    			$( "#gotonext" ).removeClass("animated zoomIn");
    			$( "#gotonext" ).addClass("animated zoomOut");
    		     }
    		     else
    		     {
    			var key = e.which;
                        if(key == 13) 
                        {
                            var search1=$('#search1').val();
    		            var allselectedcatscats=$('#allselectedcatscats').val();
    		            if(allselectedcatscats=='')
                            {
                               $('.buttontextcat').css('color','#E90B0B');
                            }
            		    else if(search1!='' && allselectedcatscats!='')
    		            {
            		      $('.buttontextcat').css('color','#ccc');
            		      $('#needhelptitleid').html(search1);
		              $('.first_step').toggle(effect, options_left, duration,function(){
			                $(".second_step").toggle(effect, options_right, duration);
		              });
                              return false; 
                            } 
                        }
    			$( "#gotonext" ).css("opacity","1");
    			$( "#gotonext" ).addClass("animated zoomIn");
    			$( "#gotonext" ).removeClass("zoomOut");
    		     }		
    		});
    	});
</script>


<style type="text/css">
    .round-common{width:50px; height:50px; position:absolute; top:15px; right:10px; border:2px solid #fff; overflow:hidden; border-radius:100%;}
    .round-common h3{font-size: 11px;
    line-height: 46px;
    margin: 0;
    text-align: center;}
    .red{border-color: red;color:red}
    .red{color:red}
    
    .green{border-color: green;}
    .green h3{color:green}
    
    .blue{border-color:#3875F2;}
    .blue h3{color:#3875F2}
    
    .right-block-top li {padding-right:100px}
</style>
