<div ng-controller="helpdashboardCtrl"> 
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/manage_left.html'"></div>
                </div>
                 <div class="col-md-9">
                    <div class="new_transaction">
                            <h1>Order Details</h1>
                            <div class="order_tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" ng-class="{'active':active_tab==0}"><a href="javascript:void(0);" ng-click="change_tab(0)" aria-controls="submit" role="tab" data-toggle="tab"><span>1</span>OPEN</a></li>
                                        <li role="presentation" ng-class="{'active':active_tab==1}"><a href="javascript:void(0);" ng-click="change_tab(1)" aria-controls="progress" role="tab" data-toggle="tab"><span>2</span>ACTIVE</a></li>
                                        <li role="presentation" ng-class="{'active':active_tab==2}"><a href="javascript:void(0);" ng-click="change_tab(2)" aria-controls="completed" role="tab" data-toggle="tab"><span>3</span>COMPLETED</a></li>
                                        <li role="presentation" ng-class="{'active':active_tab==3}"><a href="javascript:void(0);" ng-click="change_tab(3)" aria-controls="cancelled" role="tab" data-toggle="tab"><span>4</span>CANCELLED</a></li>
                                    </ul>

                      <!-- Tab panes -->
                                <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" ng-class="{'active':active_tab==0}" id="submit">
                                            <table class="order_table">
                                                <thead>
                                                    <tr>
                                                            <!--<th>MBA</th>-->
                                                            <th >Title</th>
                                                            <th>Date</th>
                                                            <th>Amount($)</th>
                                                            <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="help in openhelps">
                                                        <!--<td><img src="http://vishnu.edu.in/upload/mba.JPG" alt="" /></td>-->
                                                        <td class="text-left">{{help.title}}</td>
                                                        <td>{{help.datetime}}</td>
                                                        <td>{{help.budget}}</td>
                                                        <td>
                                                            <a href="javascript:void(0);" ng-click="mark_as_solved(help.id)">
                                                                <span class="label label-success">Solved</span>
                                                            </a>
                                                            <a href="javascript:void(0);" ng-click="mark_as_cancel(help.id)">
                                                                <span class="label label-danger">Cancel</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="!openhelps">
                                                        <td colspan="4">No request found.</td>                                                            
                                                    </tr>
                                                </tbody>  
                                            </table>
                                        </div> 
                                        <div role="tabpanel" class="tab-pane" ng-class="{'active':active_tab==1}" id="progress">
                                            <table class="order_table">
                                                    <thead>
                                                        <tr>
                                                                <!--<th>MBA</th>-->
                                                                <th>Title</th>
                                                                <th>Start Date</th>
                                                                <th>Helper</th>
                                                                <th>Total Amount($)</th>
																<th>Escrowed Amount($)</th>
                                                                <th style="width:165px;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="help in activehelps" class="cursor-pointer" ng-click="viewdetails(help)">
                                                                <!--<td><img src="http://vishnu.edu.in/upload/mba.JPG" alt="" /></td>-->
                                                                <td class="text-left"><a href="javascript:void(0);">{{help.title}}</a></td>
                                                                <td>{{help.datetime}}</td>
                                                                <td>{{help.helper.name}}</td>
                                                                <td>{{help.budget}}</td>
																<td>{{help.escrowedamount}}</td>
                                                                <td>
                                                                    <button class="btn btn-success" ladda="help.ladda_stat" ng-if="help.escrowedamount>0" ng-click="releaseEscrow(help,$event)">
                                                                        Release
                                                                    </button>
																	<button class="btn btn-danger" ladda="help.ladda_stat" ng-if="help.escrowedamount>0">
                                                                        Dispute
                                                                    </button>
                                                                </td>
                                                        </tr>
                                                        <tr ng-if="!activehelps">
                                                            <td colspan="4">No request found.</td>                                                            
                                                        </tr>
                                                    </tbody>  
                                                </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" ng-class="{'active':active_tab==2}" id="completed">
                                            <table class="order_table">
                                                <thead>
                                                    <tr>
                                                            <!--<th>MBA</th>-->
                                                            <th class="text-left">Title</th>
                                                            <th>Start Date</th>
                                                            <th>Completed Date</th>
                                                            <th>Amount($)</th>
                                                            <!--<th>Action</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="help in completedhelps">
                                                            <!--<td><img src="http://vishnu.edu.in/upload/mba.JPG" alt="" /></td>-->
                                                            <td class="text-left">{{help.title}}</td>
                                                            <td>{{help.datetime}}</td>
                                                            <td>{{help.completed_datetime}}</td>
                                                            <td>{{help.budget}}</td>
                                                            
                                                            <!--<td>
                                                                <a href="javascript:void(0);" ng-click="mark_as_solved(help.id)">
                                                                    <span class="label label-success">Solved</span>
                                                                </a>
                                                                <a href="javascript:void(0);" ng-click="mark_as_cancel(help.id)">
                                                                    <span class="label label-danger">Cancel</span>
                                                                </a>
                                                            </td>-->
                                                    </tr>
                                                    <tr ng-if="!completedhelps">
                                                        <td colspan="4">No request found.</td>                                                            
                                                    </tr>
                                                </tbody>  
                                            </table>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" ng-class="{'active':active_tab==3}" id="cancelled">
                                            <table class="order_table">
                                                <thead>
                                                    <tr>
                                                            <!--<th>MBA</th>-->
                                                            <th>Title</th>
                                                            <th>Start Date</th>
                                                            <th>Canceled Date</th>
                                                            <th>Amount($)</th>
                                                            <!--<th>Action</th>-->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="help in canceledhelps">
                                                            <!--<td><img src="http://vishnu.edu.in/upload/mba.JPG" alt="" /></td>-->
                                                            <td class="text-left">{{help.title}}</td>
                                                            <td>{{help.datetime}}</td>
                                                            <td>{{help.cancelled_datetime}}</td>
                                                            <td>{{help.budget}}</td>
                                                            
                                                            <!--<td>
                                                                <a href="javascript:void(0);" ng-click="mark_as_solved(help.id)">
                                                                    <span class="label label-success">Solved</span>
                                                                </a>
                                                                <a href="javascript:void(0);" ng-click="mark_as_cancel(help.id)">
                                                                    <span class="label label-danger">Cancel</span>
                                                                </a>
                                                            </td>-->
                                                    </tr>
                                                    <tr ng-if="!canceledhelps">
                                                        <td colspan="4">No request found.</td>                                                            
                                                    </tr>
                                                </tbody>  
                                            </table>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
.cursor-pointer{cursor:pointer}
.text-left{text-align: left !important}
</style>
