<div ng-controller="helpdetailCtrl"> 
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/mentor_manage_left.html'"></div>
                </div>
                 <div class="col-md-9">
                     
                     
                        <div class="new_transaction">
                                <h1>{{help_details.help_title}}</h1><br/>
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="status_tab">
                                <ul class="nav nav-tabs" role="tablist">                                    
                                    <!--<li role="presentation" class="active"><a href="javascript:void(0);" aria-controls="resolution" role="tab" data-toggle="tab">{{help_details.help_title}}</a></li>-->
                                </ul>

                  <!-- Tab panes -->
                            <div class="tab-content">
                                    
                                    <div role="tabpanel" class="tab-pane active" id="resolution">
                                        <ul class="order_label">
                                            <li><p><b>Helpee :</b>{{help_details.helpee_name}}</p></li>
                                            <li><p><b>Email :</b>{{help_details.helpee_email}}</p></li>
                                            <!--<li><p><b>Expertise :</b>{{help_details.helper_expertise}}</p></li>-->
                                            <li><p><b>Total Amount($) :</b>{{help_details.help_budget}}</p></li>
                                            <li><p><b>Amount Paid($) :</b>{{help_details.help_paidamount}}</p></li>
                                            <li><p><b>Escrowed Amount($) :</b>{{help_details.help_escrowedamount}}</p></li>
                                            <!--<li><p><b>Remaining($) :</b>{{help_details.remaining_amount}}</p></li>-->
                                            <!--<li><p><b>Available Tokens($) :</b>{{loggedindetails.credit_tokens}}</p></li>-->
                                        </ul>
                                        <!--<p>This property adds space between the border and the content in a table.This property adds space between the border and the content in a table.</p>
                                        <p>This property adds space between the border and the content in a table.This property adds space between the border and the content in a table.</p>-->
                                        <div class="frorm_order">
                                            <!--<textarea></textarea>-->                                            
                                            <button type="button" class="btn btn-success" ng-if="transaction && transaction.status=='escrowed'" ng-click="requestRelease(transaction)">Request Release</button>
                                            <a ng-href="/frontend/helper_dashboard"><button class="btn btn-danger">Back</button></a>
                                        </div>
                                    </div>
                            </div>
                    </div>
                                </div>
                                <!--<div class="col-md-4">
                                        <div class="progress_bar">
                                                <span class="label label-danger">CANCELLED</span>
                                                <span class="label label-success">IN PROGRESS</span>
                                                <div class="due_box">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                        <p>Due In <b>28</b> Days</p>
                                                </div>
                                        </div>
                                </div>-->
                        </div>

                    </div>
                </div>
                
                
                
               
                
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
.order_label li{width:50% !important;}
</style>
