<div ng-controller="helpeesassignsCtrl">




<section class="body-wrapper">
<div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
 <div id="flash_notice">{{alert.msg}}</div>
</div>
<div class="container">
 <div class="row">
  <div data-ng-include data-src="'assets/views/frontend/includes/profile_left.html'"></div>
  <!------------------ Listing View --------------------->
  <div class="col-md-9" ng-hide="listView">
      <ul class="studnt_perpus_table" >
			<li ng-repeat="help in assignedhelps">
				<div class="img_divs">
					<!--<img alt="Rahul Roy" src="https://graph.facebook.com/1641769842766934/picture?type=large&height=250&width=250">-->
					<profile-image image="{{help.helper_image}}" fbid="{{help.helper_fbid}}" gpid="{{help.helper_gpid}}" lnid="{{help.helper_lnid}}" username="{{help.helper_name}}" imgclass=""></profile-image> 
				</div>
				<div class="des_divs">
					<h3>{{help.help_title}}</h3>
					<p>{{help.help_details}}</p>
					<p><span>Helper :</span> <a ng-href="/frontend/mentor/{{help.helper_username}}">{{help.helper_name}}</a></p>
					<p><span>Budget($) :</span> {{help.help_budget}}</p>
					<!--<p><span>Category :</span> Lorem Ipsum Doller Sit Lorem Ipsum Doller Sit</p>-->							
				</div>
				<div class="action_divs">
					<button ng-click="paymentView(help)">Pay</button>
					<a ng-href="/frontend/mentor/{{help.helper_username}}">
						<button >Teacher Details</button>
					</a>
				</div>
			</li>
			<li ng-if="assignedhelps.length==0">
				<div class="des_divs" style="color:red">
					Sorry No Request Found.
				</div>
			</li>	
		</ul>				
  </div>
  
  <!---------------- Payment View ------------------------->
  <div class="col-md-9" ng-hide="!listView">
		<div class="right_teacher">
                        <div ng-show="regalertmessage" class="{{alert.altclass}}">
                                <div id="flash_notice">{{alert.msg}}</div>
                        </div>
			<div class="media col-md-12"> 
                            <div class="media-left col-md-3"> 
                                    <profile-image image="{{paymentViewData.helper_image}}" fbid="{{paymentViewData.helper_fbid}}" gpid="{{paymentViewData.helper_gpid}}" lnid="{{paymentViewData.helper_lnid}}" username="{{paymentViewData.helper_name}}" imgclass=""></profile-image> 
                                    <!--<a href="#"> <img alt="64x64" class="media-object" style="width: 64px; height: 64px;" src="http://beta.livehelpout.com/assets/frontend/uploads/requestimages/14354085381080.jpg" data-holder-rendered="true"> </a>-->
                            </div>
                            <div class="media-body col-md-9"> 
				  <h4 class="media-heading">{{paymentViewData.help_title}}</h4> 
				  <p>{{paymentViewData.help_details}}</p> 
				  <ul>
					<li><p><b>Tutor :</b>{{paymentViewData.helper_name}}</p></li>
					<li><p><b>Email :</b>{{paymentViewData.helper_email}}</p></li>
					<li><p><b>Expertise :</b>{{paymentViewData.helper_expertise}}</p></li>
					<li><p><b>Total Amount($) :</b>{{paymentViewData.help_budget}}</p></li>
					<li><p><b>Amount Paid($) :</b>{{paymentViewData.help_paidamount}}</p></li>
                                        <li><p><b>Escrowed Amount($) :</b>{{paymentViewData.help_escrowedamount}}</p></li>
                                        <li><p><b>Remaining($) :</b>{{paymentViewData.remaining_amount}}</p></li>
				  </ul>
                                  <form class="price_box" name="paymentform" style="width:auto">						
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Price</label>
                                          <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                            <input type="number" class="form-control" min="0" max="{{paymentViewData.remaining_amount}}" ng-model="payform.pay_amount" name="pay_amount" required id="exampleInputAmount" placeholder="Amount">
                                            <div class="input-group-addon">.00</div>
                                          </div>
                                        </div>
                                        <div class="form-group text-right">
                                            <button class="btn btn-success" type="button" ng-click="getTransactions(paymentViewData.help_id);">View Transactions</button>
                                            <button type="submit" class="btn btn-primary" ng-disabled="!paymentform.$valid" ng-click="transfer_cash(paymentViewData)">Transfer cash</button>
                                            <button class="btn btn-danger" ng-click="changeList();">Cancel</button>
                                        </div>
                                        
                                      <div class="panel panel-default" ng-if="transView">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading">Transactions</div>

                                            <!-- Table -->
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Amount($)</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-if="transactions">
                                                    <tr ng-repeat="transaction in transactions">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{transaction.amount}}</td>
                                                        <td>{{transaction.date}}</td>
                                                        <td style="text-transform: capitalize;">{{transaction.status}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-success" ng-if="transaction.status=='escrowed'" ng-click="releaseEscrow(transaction)">Release</button>
                                                            
                                                            <!--<button type="button" class="btn btn-danger" ng-if="transaction.status=='escrowed'">Dispute</button>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody ng-if="!transactions">
                                                    <tr>
                                                        <td colspan="5" class="text-center">No transactions found.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </form>
			  </div> 
			</div>
	        
		</div>
	</div>
  
  
  
  
  

 </div>
    </div>

</section>












</div>
<style>
.left-box{margin-bottom:15px;}
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
.catgory_holder .btn,.catgory_holder_cat .btn{margin-right:4px;}
.well{background:#fff;border:0px;box-shadow:0px 0px 0px 0px;}
.issues-list li{list-style:none;}
.issues-list li .content h4{margin: 0px 0 10px; padding-top:10px;color: #337ab7;}
.row-fluid .span6 p{width:49%;float:left;font-size:15px;}
.row-fluid .span6 p .muted.small{color:#878787;margin-left:3px;font-size:14px;}
.topdashboardbelow{margin-top:30px;}
.topdashboardbelow .span6{width:49%;float:left;}
.topdashboardbelow .span6 .row-fluid .span3{width:auto;float:left;}
.topdashboardbelow .span6 .row-fluid .span9{width:80%;float:left;margin-left:10px;}
.title1{margin: 20px 0 20px;}
.title2{margin: 30px 0 10px;}
.compete span{border:0px !important;color:#fff;}
.detail{float:left;width:90%;}
.muted{color: #8e979b;font-size:15px;}
.headline{margin: 0px 0 10px;padding-top: 10px;}
.subheadline{font-size:15px;color: #073648;}
.linehelpoutmnthly{float:left;margin-bottom:25px;}
.linehelpoutmnthly .span3{width: 23.076923076923077%;float:left;margin-left: 2.564102564102564%;}
.linehelpoutmnthly .span3.offset1{margin-left: 10.547008547008547%;}
.linehelpoutmnthly .span3 .module img{width: 100%;}
.linehelpoutmnthlybtn{float: left;margin-bottom: 20px;text-align: center;width: 100%;}
.table a{color:#eaeaea !important;}
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>

<script>
    	$(document).ready(function(){
    	    //*********body scrollstop************//
    	        $("body").css("overflow", "hidden");
    		
    	    //****************gotonext**********//
    		var effect = 'slide';
    		var options_left = { direction: 'left'}
    		var options_right = { direction: 'right'}
    		var duration = 500;
    		
    		$("#gotonext").click(function(){
    		     var search1=$('#search1').val();
    		     var allselectedcatscats=$('#allselectedcatscats').val();
                     if(allselectedcatscats=='')
                     {
                       $('.buttontextcat').css('color','#E90B0B');
                     }
    		     else if(search1!='' && allselectedcatscats!='')
    		     {
    		       $('.buttontextcat').css('color','#ccc');
    		       $('#needhelptitleid').html(search1);
		       $('.first_step').toggle(effect, options_left, duration,function(){
			        $(".second_step").toggle(effect, options_right, duration);
		       });
		     }
    		});
    		
    		$("#goto_back").click(function(){
		     $('.second_step').toggle(effect, options_right, duration,function(){
			$(".first_step").toggle(effect, options_left, duration);
		     });
    		});
    		
    		$("#goto_back_icon").click(function(){
		     $('.second_step').toggle(effect, options_right, duration,function(){
			$(".first_step").toggle(effect, options_left, duration);
		     });
    		});

    	    //****************button spin**********//
    		$(".btn_spin").click(function(){
		     $(".rotate").toggleClass("down")  ; 
		})
			
		$("#btn_cat").click(function(){
		     $("#catfild_on_off").slideToggle("slow");
		});
		
		$(".btn_spin_cat").click(function(){
		     $(".rotate_cat").toggleClass("down")  ; 
		})
			
		$("#btn_cat_cat").click(function(){
		     $("#catfild_on_off_cat").slideToggle("slow");
		});
			
	   //*****************rote& close*************************/
		$(".rote_close").click(function(){
		     $(this).toggleClass("down")  ;
		     $(this).parent(".btn").fadeOut();
		});
			
	  //**********main slide up down***********//
    		$(".cancel_sec").click(function(){
    		     $( ".search_sec" ).slideUp(700);
    		});
    		
         //**********choose price div***********//    
                $(".price_div").click(function()
            	{
            	  $('.price_div').removeClass('active');
            	  $(this).addClass('active');
            	  var price=$(this).attr('price');
            	  $('#budget').val(price);
            	});
            	
          
    		
	  //for first step serach field*********//
    		$( "#search1" ).keyup(function(e) {
    		     if( $(this).val()=="")
    		     {
    			$( "#gotonext" ).css("opacity","0");
    			$( "#gotonext" ).removeClass("animated zoomIn");
    			$( "#gotonext" ).addClass("animated zoomOut");
    		     }
    		     else
    		     {
    			var key = e.which;
                        if(key == 13) 
                        {
                            var search1=$('#search1').val();
    		            var allselectedcatscats=$('#allselectedcatscats').val();
    		            if(allselectedcatscats=='')
                            {
                               $('.buttontextcat').css('color','#E90B0B');
                            }
            		    else if(search1!='' && allselectedcatscats!='')
    		            {
            		      $('.buttontextcat').css('color','#ccc');
            		      $('#needhelptitleid').html(search1);
		              $('.first_step').toggle(effect, options_left, duration,function(){
			                $(".second_step").toggle(effect, options_right, duration);
		              });
                              return false; 
                            } 
                        }
    			$( "#gotonext" ).css("opacity","1");
    			$( "#gotonext" ).addClass("animated zoomIn");
    			$( "#gotonext" ).removeClass("zoomOut");
    		     }		
    		});
    	});
</script>
