<div ng-controller="helpdetailsCtrl"> 
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/manage_left.html'"></div>
                </div>
                 <div class="col-md-9">
                     
                     
                        <div class="new_transaction">
                                <h1>{{help_details.help_title}}</h1><br/>
                        <div class="row">
                                <div class="col-md-12">
                                        <div class="status_tab">
                                <ul class="nav nav-tabs" role="tablist">                                    
                                    <!--<li role="presentation" class="active"><a href="javascript:void(0);" aria-controls="resolution" role="tab" data-toggle="tab">{{help_details.help_title}}</a></li>-->
                                </ul>

                  <!-- Tab panes -->
                            <div class="tab-content">
                                    
                                    <div role="tabpanel" class="tab-pane active" id="resolution">
                                        <ul class="order_label">
                                            <li><p><b>Tutor :</b><a ng-href="/frontend/mentor/{{help_details.helper_username}}">{{help_details.helper_name}}</a></p></li>
                                            <li><p><b>Email :</b>{{help_details.helper_email}}</p></li>
                                            <!--<li><p><b>Expertise :</b>{{help_details.helper_expertise}}</p></li>-->
                                            <li><p><b>Total Amount($) :</b>{{help_details.help_budget}}</p></li>
                                            <li><p><b>Amount Paid($) :</b>{{help_details.help_paidamount}}</p></li>
                                            <li><p><b>Escrowed Amount($) :</b>{{help_details.help_escrowedamount}}</p></li>
                                            <!--<li><p><b>Remaining($) :</b>{{help_details.remaining_amount}}</p></li>-->
                                            <li><p><b>Available Tokens($) :</b>{{loggedindetails.credit_tokens}}</p></li>
                                        </ul>
                                        <!--<p>This property adds space between the border and the content in a table.This property adds space between the border and the content in a table.</p>
                                        <p>This property adds space between the border and the content in a table.This property adds space between the border and the content in a table.</p>-->
                                        <div class="frorm_order">
                                            <!--<textarea></textarea>-->
                                            <button class="btn btn-success" ng-click="escrow_modal()" ng-if="help_details.help_escrowedamount==0 && help_details.help_paidamount!=help_details.help_budget && (help_details.help_escrowedamount<loggedindetails.credit_tokens || help_details.help_escrowedamount==loggedindetails.credit_tokens) ">Escrow Amount</button>
                                            <button class="btn btn-success" ng-click="transfer_cash(help_details)" ng-if="help_details.help_escrowedamount==0 && help_details.help_paidamount!=help_details.help_budget && help_details.help_escrowedamount>loggedindetails.credit_tokens) ">Escrow Amount</button>
                                            <button class="btn btn-success" ng-click="releaseEscrow(transaction.id)" ng-if="help_details.help_escrowedamount>0 && transaction">Release Amount</button>
											<button class="btn btn-info" ng-click="chagneDisputeMode()" ng-if="help_details.help_escrowedamount>0 && transaction">Dispute</button>
                                            <!--<button class="btn btn-success" ng-click="mark_as_solved(help_details.help_id)" ng-if="help_details.help_paidamount==help_details.help_budget">Mark as Solved</button>-->
                                            <a ng-href="/frontend/help_dashboard/2"><button class="btn btn-danger">Back</button></a>
                                        </div>
										<div class="clearfix"></div>
										<div class="frorm_order" style="margin-top:15px;" ng-show="disputeMode">
											<form method="post" name="dispute_form">
												<textarea placeholder="Please enter dispute message." ng-model="disputeMessage" required></textarea>
												<button class="btn btn-success" ng-click="saveDispute()" ng-disabled="dispute_form.$invalid">Submit</button>
												<button class="btn btn-danger" ng-click="chagneDisputeMode()">Cancel</button>
											</form>
										</div>
                                    </div>
                            </div>
                    </div>
                                </div>
                                <!--<div class="col-md-4">
                                        <div class="progress_bar">
                                                <span class="label label-danger">CANCELLED</span>
                                                <span class="label label-success">IN PROGRESS</span>
                                                <div class="due_box">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                        <p>Due In <b>28</b> Days</p>
                                                </div>
                                        </div>
                                </div>-->
                        </div>

                    </div>
                </div>
                
                
                
               
                
            </div>
        </div>
    </section>
    
    <div class="custom-modal modal fade" id="escrowModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Please Confirm</h4>
               </div>
               <div class="modal-body">
                     <div class="form-group">
                        <div class="col-sm-12">
                           Do you want to put money to Escrow ?
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="gpusersignup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Yes</button>
                           <button ng-click="gpusersignup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">No</button>
                        </div>
                     </div>
                 
                  
               </div>
            </div>
         </div>
    </div>
    
    <div class="custom-modal modal fade" id="noEscrow"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#fff; border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:#000;" aria-hidden="true">&times;</span></button>
                 
               </div>
               
               <div class="modal-body" id="modal_image_body">
                 Sorry you donot have sufficient credit to accept. Please buy credit and then try to accept it.<br> Please wait we are redirecting you too buy credit page.
               </div>
            </div>
         </div>
   </div>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
.order_label li{width:50% !important;}
</style>
