<div ng-controller="helperstransactionsCtrl">
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
                </div>
                <div class="col-md-9" ng-hide="listView">

                    <!--=============================Request History Start=======================-->
                    <div class="left-box requesthistory">
                        <div class="hor">
                           <input type="hidden" id="hidden_activetab" value="1">
                            <div id="myTabContent" class="tab-content">
                                <!--<div id="loader" style="padding-top: 25px; ">
                                     <div class="circle"></div>
			             <div class="circle1"></div>
                                </div>-->

                                <!--<div role="tabpanel" class="tab-pane fade" id="related_request" aria-labelledby="related-request">
                                    <ul class="right-block-top" >
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no related request.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    
                                </div>-->
                                
                                <ul class="studnt_perpus_table" >
                                    <li ng-repeat="help in assignedhelps">
                                            <div class="img_divs">
                                                    <!--<img alt="Rahul Roy" src="https://graph.facebook.com/1641769842766934/picture?type=large&height=250&width=250">-->
                                                    <profile-image image="{{help.helpee_image}}" fbid="{{help.helpee_fbid}}" gpid="{{help.helpee_gpid}}" lnid="{{help.helpee_lnid}}" username="{{help.helpee_name}}" imgclass=""></profile-image> 
                                            </div>
                                            <div class="des_divs">
                                                    <h3>{{help.help_title}}</h3>
                                                    <p>{{help.help_details}}</p>
                                                    <p><span>Helpee :</span> <a ng-href="/frontend/mentor/{{help.helpee_username}}">{{help.helpee_name}}</a></p>
                                                    <p><span>Budget($) :</span> {{help.help_budget}}</p>
                                                    <!--<p><span>Category :</span> Lorem Ipsum Doller Sit Lorem Ipsum Doller Sit</p>-->							
                                            </div>
                                            <div class="action_divs">
                                                    <button ng-click="paymentView(help)">Payments</button>
                                                    <a ng-href="/frontend/mentor/{{help.helper_username}}">
                                                            <button >Helpee Details</button>
                                                    </a>
                                            </div>
                                    </li>
                                    <li ng-if="assignedhelps.length==0">
                                            <div class="des_divs" style="color:red">
                                                    Sorry No Request Found.
                                            </div>
                                    </li>	
                                </ul>
                            </div>
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>
                
                
                
                <!---------------- Payment View ------------------------->
                <div class="col-md-9" ng-hide="!listView">
                    <div class="right_teacher">
                        <div ng-show="regalertmessage" class="{{alert.altclass}}">
                                <div id="flash_notice">{{alert.msg}}</div>
                        </div>
			<div class="media col-md-12"> 
                            <div class="media-left col-md-3"> 
                                    <profile-image image="{{paymentViewData.helpee_image}}" fbid="{{paymentViewData.helpee_fbid}}" gpid="{{paymentViewData.helpee_gpid}}" lnid="{{paymentViewData.helpee_lnid}}" username="{{paymentViewData.helpee_name}}" imgclass=""></profile-image> 
                                    <!--<a href="#"> <img alt="64x64" class="media-object" style="width: 64px; height: 64px;" src="http://beta.livehelpout.com/assets/frontend/uploads/requestimages/14354085381080.jpg" data-holder-rendered="true"> </a>-->
                            </div>
                            <div class="media-body col-md-9"> 
				  <h4 class="media-heading">{{paymentViewData.help_title}}</h4> 
				  <p>{{paymentViewData.help_details}}</p> 
				  <ul>
					<li><p><b>Helpee :</b>{{paymentViewData.helpee_name}}</p></li>
					<li><p><b>Email :</b>{{paymentViewData.helpee_email}}</p></li>
					<li><p><b>Total Amount($) :</b>{{paymentViewData.help_budget}}</p></li>
					<li><p><b>Amount Paid($) :</b>{{paymentViewData.help_paidamount}}</p></li>
                                        <li><p><b>Escrowed Amount($) :</b>{{paymentViewData.help_escrowedamount}}</p></li>
                                        <li><p><b>Remaining($) :</b>{{paymentViewData.remaining_amount}}</p></li>
				  </ul>
                                  <form class="price_box" name="paymentform" style="width:auto">
                                      <div class="panel panel-default" ng-if="transView">
                                            <!-- Default panel contents -->
                                            <div class="panel-heading">Transactions</div>

                                            <!-- Table -->
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Amount($)</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody ng-if="transactions">
                                                    <tr ng-repeat="transaction in transactions">
                                                        <td>{{$index+1}}</td>
                                                        <td>{{transaction.amount}}</td>
                                                        <td>{{transaction.date}}</td>
                                                        <td style="text-transform: capitalize;">{{transaction.status}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-success" ng-if="transaction.status=='escrowed'" ng-click="requestRelease(transaction)">Request Release</button>
                                                            <!--<button type="button" class="btn btn-danger" ng-if="transaction.status=='escrowed'">Dispute</button>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody ng-if="!transactions">
                                                    <tr>
                                                        <td colspan="5" class="text-center">
                                                            <div id="loader" style="padding-top: 25px; ">
                                                                <div class="circle"></div>
                                                                <div class="circle1"></div>
                                                           </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </form>
			  </div> 
			</div>
	        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>
