<div ng-controller="helpeeshelpsCtrl">

    <!--==========================================================================-->
    <section class="body-wrapper">
    <!--<div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
     <div id="flash_notice">{{alert.msg}}</div>
    </div>-->
    <div class="container">
     <div class="row">
      <div data-ng-include data-src="'assets/views/frontend/includes/profile_left.html'"></div>
       <div class="col-md-9">
           dsf sdf sdf s fsdf sdf s
           sd fsdf s
           
     </div>
    </div>
    </div>
    <!--==================================Mentor listings=======================================--> 
    </section>
</div>









