
<!--<div class="side_slide_bar">
	<div class="realtive"><b>$ 3000</b>
	<button class="btn btn-success">Withdrawal</button>
	<a href="javascript:void(0)" id="expnd">Expand</a></div>
</div>-->
<script>
	$('#expnd').click(function() {
        	var $marginLefty = $(".side_slide_bar");
            var outer = $marginLefty.outerWidth();
            $marginLefty.animate({
            right: parseInt($marginLefty.css('right'),10) == 0 ?
               "-"+outer :0
            });
            
    });
</script>

<div ng-controller="helpertransactionsCtrl"> 
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/mentor_manage_left.html'"></div>
                </div>
                <div class="col-md-9">
                    <div class="new_transaction">
                            <h1>Transactions</h1>
                            <div class="wallet_sec">
                                    <div class="wallet_left">
                                            <i class="glyphicon glyphicon-credit-card"></i><span>Wallet Balance</span><b>${{loggedindetails.credit_tokens}}</b>
                                    </div>
                                    <a ng-href="/frontend/withdraw"><button class="btn btn-success">Withdrawal</button></a>
                                    <a ng-href="/frontend/buy_credit"><button class="btn btn-warning">Add Fund</button></a>
                            </div>
                            <table class="order_table">
                                <thead>
                                    <tr>
                                            <!--<th>MBA</th>-->
                                            <th>Amount($)</th>
                                            <th>Date</th>
                                            <th>Before($)</th>
                                            <th>After($)</th>
                                            <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="transaction in transactions">
                                            <!--<td><img alt="" src="http://vishnu.edu.in/upload/mba.JPG"></td>-->
                                            <td>{{transaction.type=='debit'?'-':'+'}}{{transaction.tokens}}</td>
                                            <td>{{transaction.date}}</td>
                                            <td>{{transaction.before}}</td>
                                            <td>{{transaction.after}}</td>
                                            <td>
                                                <span class="label label-success ccase" ng-if="transaction.type=='credit'">{{transaction.type}}</span>
                                                <span class="label label-danger ccase" ng-if="transaction.type=='debit'">{{transaction.type}}</span>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
.ccase{text-transform: capitalize}
</style>
