<div ng-controller="mentordashboardCtrl">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="body-wrapper">
          <div class="container">
          
    <div class="row">
        <div class="col-md-3"> 
    <div data-ng-include data-src="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
    </div>
    <div class="col-md-9">
    <div class="right-block-new">
    <ul class="right-block-top">
    <li>
    
    <div class="icon-left">
    <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
    </div>
    <div class="icon-content">
    <h4>Lorem ipsum dummy text</h4>
    <p><span>As a LinkedIn member, you’ll join 300 million other professionals who are sharing connections, ideas, and opportunities</span></p>
    </div>
 
    </li>
    
    
    </ul>
    </div>
    
    <div class="left-box">
    <h2>Share Your LiveHelpOut Profile to start receiving more requests </h2>    
    <div class="hor">
    
    <ul class="nav nav-tabs">
		<li ng-class="{active:previewer.tab=='github'}">
			<a ng-click="previewer.tab = 'github'">GitHub</a>
		</li>
		<li ng-class="{active:previewer.tab=='website'}" class="">
			<a ng-click="previewer.tab = 'website'">Button</a>
		</li>
		<li ng-class="{active:previewer.tab=='profile'}" class="">
			<a ng-click="previewer.tab = 'profile'">Profile</a>
		</li>
    </ul>
    <div id="myTabContent" class="tab-content">
    
		<!----GitHub Div Start---->
		<div class="row-fluid badges-github" ng-show="previewer.tab == 'github'">
		
			<div class="col-md-5 badge-area">
				<p>Choose a badge</p>
				<!-- ngRepeat: key in previewer.githubBadgeTypeKeys -->
				<div class="ng-scope">
					<label for="contact-me-github" ng-click="badge.text = 'contact'">
						<input id="contact-me-github" ng-model="previewer.githubBadge" ng-checked="true" type="radio" value="contact-me" class="ng-pristine ng-untouched ng-valid" name="24" ng-click="badge.text = 'contact'">
						<img ng-src="{{siteurl}}assets/frontend/images/btn-1.png" style="max-width: 100%;" src="{{siteurl}}assets/frontend/images/btn-1.png">
					</label>
					<br>
				</div><!-- end ngRepeat: key in previewer.githubBadgeTypeKeys -->
	
				<div class="ng-scope">
					<label for="book-session-github" ng-click="badge.text = 'session'">
						<input id="book-session-github" ng-model="previewer.githubBadge" type="radio" value="book-session" class="ng-pristine ng-untouched ng-valid" name="26" ng-click="badge.text = 'session'">
						<img ng-src="{{siteurl}}assets/frontend/images/btn-1.png" style="max-width: 100%;" src="{{siteurl}}assets/frontend/images/btn-2.png">
					</label>
					<br>
				</div><!-- end ngRepeat: key in previewer.githubBadgeTypeKeys -->
	
				<div class="ng-scope">
					<label for="get-help-github" ng-click="badge.text = 'help'">
						<input id="get-help-github" ng-model="previewer.githubBadge" type="radio" value="get-help" class="ng-pristine ng-untouched ng-valid" name="28" ng-click="badge.text = 'help'">
						<img ng-src="{{siteurl}}assets/frontend/images/btn-1.png" style="max-width: 100%;" src="{{siteurl}}assets/frontend/images/btn-3.png">
					</label>
					<br>
				</div><!-- end ngRepeat: key in previewer.githubBadgeTypeKeys -->
			</div>
	
			<div class="col-md-7 code-area">
				<p class="code-type-selector">
				Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
				<!--<a class="active" ng-class="{active:previewer.githubBadgeCodeType=='markdown'}" ng-click="previewer.githubBadgeCodeType='markdown'">
				markdown
				</a>
				|
				<a ng-class="{active:previewer.githubBadgeCodeType=='html'}" ng-click="previewer.githubBadgeCodeType='html'">
				html
				</a>-->
				</p>
				<textarea class="form-control" ng-model="contact" onclick="this.select();" ng-show="badge.text == 'contact'" style="height:80px"></textarea>
				<textarea class="form-control" ng-model="session" onclick="this.select();" ng-show="badge.text == 'session'" style="height:80px"></textarea>
				<textarea class="form-control" ng-model="help" onclick="this.select();" ng-show="badge.text == 'help'" style="height:80px"></textarea>
			</div>
		</div> 
		<!----GitHub Div End---->  
		
		<!--------Button Div Start----->
		<div class="row-fluid badges-website ng-hide" ng-show="previewer.tab == 'website'">
			<div class="col-md-5 badge-area">
			<p>Choose a badge</p>
				<!-- ngRepeat: key in previewer.websiteBadgeTypeKeys -->
				<label for="i-am-a-livehelpout-dark-github" class="ng-scope" ng-click="button.text = 'meLight'">
					<input id="i-am-a-livehelpout-dark-github" ng-model="previewer.websiteBadge" ng-checked="true" type="radio" value="i-am-a-livehelpout-dark" class="ng-pristine ng-untouched ng-valid" name="30">
					<img ng-src="{{siteurl}}assets/frontend/images/b-1.png" style="max-width: 100%;" src="/badges/i_am_a_livehelpout_dark.svg">
				</label><!-- end ngRepeat: key in previewer.websiteBadgeTypeKeys -->
				<label for="livehelpout-dark-github" class="ng-scope" ng-click="button.text = 'meDark'">
					<input id="livehelpout-dark-github" ng-model="previewer.websiteBadge" type="radio" value="livehelpout-dark" class="ng-pristine ng-untouched ng-valid" name="32">
					<img ng-src="{{siteurl}}assets/frontend/images/b-2.png" style="max-width: 100%;" src="/badges/livehelpout_dark.svg">
				</label><!-- end ngRepeat: key in previewer.websiteBadgeTypeKeys -->
				<label for="i-am-a-livehelpout-light-github" class="ng-scope" ng-click="button.text = 'light'">
					<input id="i-am-a-livehelpout-light-github" ng-model="previewer.websiteBadge" type="radio" value="i-am-a-livehelpout-light" class="ng-pristine ng-untouched ng-valid" name="34">
					<img ng-src="{{siteurl}}assets/frontend/images/b-4.png" style="max-width: 100%;" src="/badges/i_am_a_livehelpout_light.svg">
				</label><!-- end ngRepeat: key in previewer.websiteBadgeTypeKeys -->
				<label for="livehelpout-light-github" class="ng-scope" ng-click="button.text = 'dark'">
					<input id="livehelpout-light-github" ng-model="previewer.websiteBadge" type="radio" value="livehelpout-light" class="ng-pristine ng-untouched ng-valid" name="36">
					<img ng-src="{{siteurl}}assets/frontend/images/b-3.png" style="max-width: 100%;" src="/badges/livehelpout_light.svg">
				</label><!-- end ngRepeat: key in previewer.websiteBadgeTypeKeys -->
			</div>
			<div class="col-md-7 code-area">
				<p class="code-type-selector">
				Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text Lorem ipsum dummy text
				</p>
				<textarea class="form-control" ng-model="meLight" onclick="this.select();" ng-show="button.text == 'meLight'" style="height:80px"></textarea>
				<textarea class="form-control" ng-model="meDark" onclick="this.select();" ng-show="button.text == 'meDark'" style="height:80px"></textarea>
				<textarea class="form-control" ng-model="light" onclick="this.select();" ng-show="button.text == 'light'" style="height:80px"></textarea>
				<textarea class="form-control" ng-model="dark" onclick="this.select();" ng-show="button.text == 'dark'" style="height:80px"></textarea>
			</div>
		</div>
		<!----Button Div End---------->
		
		
		<!--------Profile Div Start------------>
		<div class="row-fluid badges-profile ng-hide" ng-show="previewer.tab == 'profile'">
			<div class="col-md-5 badge-area" ng-model="liveBadge" id="badgeOfMe">
				
			</div>
			
			<div class="col-md-7 ng-binding">
				<p>Get your LivehelpOut badge by putting this code snippet onto your blog. It's in your bragging rights!</p>
				<textarea class="form-control" ng-model="liveBadge" onclick="this.select();"  style="height:80px"></textarea>
				
			</div>
		</div>
		<!--------Profile Div End------------>
 	
      
     
      
      
    </div>
  </div> 
    </div>
    
    
    <div class="lets_friend">
    	<h2>Lets Friend Know You Are Here </h2> 
    	<div class="tweet_share">
        	<p>the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
            software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    	<div class="social_box">
        	<div class="social_images">
            	
            	<a facebook-feed-share class="facebookShare" data-url='{{profile_link}}'  data-description="{{define}}" data-name="{{shareName}}"></a>
            	<script src="http://platform.twitter.com/widgets.js"></script>
            	<a twitter  data-lang="en" data-count='horizontal' data-url='{{profile_link}}' data-via='LiveHelpOut' data-size="medium" data-text='{{shareName}}:{{define}}' ></a>
            	<div linkedin class="linkedinShare" data-url='{{profile_link}}' data-title='{{userdata.shareName}}' data-summary="{{define}}" >{{linkedinshares}}</div>
            	<!--<script src="https://apis.google.com/js/platform.js" async defer></script>
            	<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='{{profile_link}}' data-action='share'></div>-->
            	
            </div>
            <div class="textbox">
            	<input type="text" name="profile_link" ng-model="profile_link" placeholder="www.livehelpout.io">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="feature_expert">
    	<h2>Lets Friend Know You Are Here </h2> 
        <p>the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing 
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <a type="btn" class="btn btn-primary">WRITE A TUTORIAL</a>
         <p>the release of Letraset sheets containing Lorem  versions of Lorem Ipsum.</p>
         <P><a type="btn" class="btn btn-primary" value=""><i class="fa fa-stack-overflow fa-2"></i> IMPORT FROM STACK </a><a href="">Write a quick tip</a></P>
    </div>
    
    
    </div>
    </div>
  </div>
        </section>
  

</div>
<style>
.ladda-button{padding:6px 14px !important;font-size:14px !important;border-radius:4px !important;}
</style>
