<div ng-controller="openrequestCtrl">
    <div class="act-modal modal fade" id="whyskipthis"   tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Help Us Understand What's Happening</h4>
                </div>
                <form method="POST">
                    <div class="modal-body extraspace" style="padding:14px 18px;">
                        <div ng-show="skipalert" class="{{alert.altclass}}">
                            <div id="flash_notice">{{alert.msg}}</div>
                        </div>
                        <h4>Why are you not interested?</h4>

                        <input type="hidden" id="hiddenskip" ng-model="hiddenskip" value="{{hiddenskip}}">
                        <input type="hidden" id="hiddenskiptype" ng-model="hiddenskiptype" value="{{hiddenskiptype}}">

                        <div class="form-group" style="margin-bottom: 0px;" ng-repeat="(key, value) in skipoptions">
                            <label class="col-sm-12 control-label">
                                <input type="radio" value="{{value}}" name="reason" ng-model="$parent.reason" class="ng-pristine ng-valid" style="position: absolute;">
                                <span style="margin-left:17px;" ng-if="key != '6'">{{value}}</span>
                                <textarea ng-if="key == '6'"  placeholder="Other reasons"  id="other_reason" style="width: 95%;height: 84px;margin-left: 17px;border-radius: 5px;"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer"> 
                        <a href="javascript:void(0);" ng-click="closemodal();"   class="btn btn-default-new" data-style="zoom-in" ladda="loading" data-spinner-size="25"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Close </a>
                        <a href="javascript:void(0);"  class="btn btn-primary" ng-click="saveskiprequest();">Submit </a></div>
                </form>
            </div>
        </div>
    </div>


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
                </div>
                <div class="col-md-9">

                    <!--=============================Request History Start=======================-->
                    <div class="left-box requesthistory">
                        <div class="hor">
                           <input type="hidden" id="hidden_activetab" value="1">
                            <ul id="myTab" class="nav nav-tabs" role="tablist" >
                                <li role="presentation" id="related_request-tab" class="requesthistoryli active"><a href="javascript:void(0);" ng-click="openrequesthistorytab('related_request');"  role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                        Related Requests</a></li>
                                <li role="presentation" class="requesthistoryli" id="limenu2"><a href="javascript:void(0);" role="tab" ng-click="openrequesthistorytab('menu2');" id="profile-tab" data-toggle="tab" aria-controls="profile">
                                        Placed Bid</a></li>
                                <li role="presentation" class="requesthistoryli" id="allother-tab"><a href="javascript:void(0);" role="tab" ng-click="openrequesthistorytab('allother');" id="allother-tab" data-toggle="tab" aria-controls="profile">
                                        All other Requests</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div id="loader" style="padding-top: 25px; ">
                                     <div class="circle"></div>
			             <div class="circle1"></div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="related_request" aria-labelledby="related-request">
                                    <ul class="right-block-top" ng-show="relatedrequestsdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no related request.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="right-block-top relatedrequestsdiv"  ng-show="!relatedrequestsdiv">
                                        <li ng-repeat="relatedrequest in relatedrequests">
                                            <div class="icon-qustion" ng-click="open_active_request(relatedrequest.id);" style="cursor:pointer;border:2px solid #C1BFBF;"> 
                                                <i class="fa fa-check" style="color:#C1BFBF;"></i> 
                                            </div>
                                            <div class="icon-content-new-2" ng-click="open_active_request(relatedrequest.id);" style="cursor:pointer;">
                                                <h2>{{relatedrequest.title}}
                                                     <span  ng-if="relatedrequest.interest == '1'" class="glyphicon glyphicon-ok-circle"  aria-hidden="true" style='display:block;color:#1E9F75;font-size:20px;float:right;'></span>
                                                    <span class="glyphicon glyphicon-ok-circle" id="right_{{relatedrequest.id}}" aria-hidden="true" style='display:none;color:#1E9F75;font-size:20px;float:right;'></span>

                                                </h2>
                                                <div class="col-md-6" style="padding-left:0;">
                                                 <div ng-if="relatedrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                  <div class="clearfix"></div>
                                                  <!---------------------------------->
                                                    <div  ng-photo-grid =   ""
                                                        images        =   "relatedrequest.images"
                                                        grid-options  =   "gridOptions"
                                                        ng-class      =   "{'loading': isBuildingGrid}"
                                                        class         =   "feed-photos">
                                                     </div>
                                                  <!---------------------------------->
                                                 <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div ng-if="relatedrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                 <div class="clearfix"></div>
                                                 <div class="request_files_div" ng-repeat="reqfile in relatedrequest.files | filter : {filetype: 'pdf'}">
                                                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                 <div id="likediv{{relatedrequest.id}}">
                                                   <i class="fa fa-heart-o" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='1'"></i> <span id="likecount{{relatedrequest.id}}">{{relatedrequest.count_like}}</span>
                                                 </div>
                                                <div class="clearfix"></div>
                                                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{relatedrequest.selectedmaincats}} </p>
                                                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{relatedrequest.selectedcats}} </p>
                                                <p><span>New Request — {{relatedrequest.posttime}} — Budget: ${{relatedrequest.budget}}/hr</span></p>

                                            </div>
                                            <div class="confirm" id="activerequestdetails{{relatedrequest.id}}" style="display:none;">
                                                <p>
                                                <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{relatedrequest.userimage!=''?relatedrequest.userimage:'noimage.png'}}"> </div> {{relatedrequest.username}} - {{relatedrequest.usertimezone}}
                                                </p>
                                                <p>{{relatedrequest.details}}</p>
                                                
                                              <div class="clearfix"></div>
                                              <div class="confirm">
                                                    <p>
                                                    <div class="profile_img-new">
                                                        <img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}">
                                                    </div> 
                                                    Can you help <a href="javascript:void(0);">{{relatedrequest.username}}</a> with the request?
                                                    </p>
                                                    <a href="javascript:void(0);" ng-if="relatedrequest.interest == 0" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-primary" ng-click='showinterest(relatedrequest.id, "related");' id='related_interest_{{relatedrequest.id}}'>

                                                        <i class="fa fa-check"></i> I can Help</a>
                                                    <a href="javascript:void(0);" ng-click='skipthis(relatedrequest.id, "related");' class="btn btn-default">
                                                        <i class="fa fa-close" ></i> Skip</a> 
                                                    <small class="right-small-text"> {{relatedrequest.showbudgetmessage}} </small>


                                                    <hr>
                                                    <div class="commentarea" style="padding:5px 0;">
                                                    
                                                        <div ng-repeat="comments in relatedrequest.comments">  
                                                            <div id="{{comments.id}}">
                                                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                                                <div class="profile_img-new">
                                                                    <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                                                                </div> 
                                                            </div>
                                                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                                                <h2><a>{{comments.name}}</a>
                                                                    <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                                                     <span ng-if="loggedindetails.id == comments.userid" style="cursor: pointer; margin-left:10px; font-size: 14px;"  ng-click="deletecomment(comments.id);">X</span>
                                                                </h2> 
                                                                <p>{{comments.comment}}</p>
                                                            </div>
                                                                 <hr  style='clear: both;'>
                                                        </div>
                                                           
                                                        </div>
                                                    
                                                  
                                                    </div>

                                                    <div class="col-md-1 col-sm-1 col-xs-3"><img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" alt="" class="small-comment-pic"></div>
                                                    <div class="col-md-11 col-sm-11 col-xs-9"><!--(only you and {{relatedrequest.username}} could see this)-->
                                                        <textarea placeholder="Add comment here. " id="textarea_{{relatedrequest.id}}" class="text-area-new"></textarea>
                                                        <div class="attached-section"><a  href="javascript:void(0);"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Attached File</a>
                                                            <a  href="javascript:void(0);" class="btn btn-sm btn-success pull-right" ng-click="addcomment(relatedrequest.id, 'other');" data-style="zoom-in" ladda="loading1" data-spinner-size="25">Send</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                
                                <div role="tabpanel" class="tab-pane fade placedrequestsdiv" id="placed_bids" aria-labelledby="placed-request">
                                    <ul class="right-block-top" ng-show="placedbidsdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no related request.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="right-block-top placedbidsdiv"  ng-show="!placedbidsdiv">
                                        <li ng-repeat="relatedrequest in placedrequests">
                                            <div class="icon-qustion" ng-click="open_active_request(relatedrequest.id);" style="cursor:pointer;border:2px solid #C1BFBF;"> 
                                                <i class="fa fa-check" style="color:#C1BFBF;"></i> 
                                            </div>
                                            <div class="icon-content-new-2" ng-click="open_active_request(relatedrequest.id);" style="cursor:pointer;">
                                                <h2>{{relatedrequest.title}}
                                                     <span  ng-if="relatedrequest.interest == '1'" class="glyphicon glyphicon-ok-circle"  aria-hidden="true" style='display:block;color:#1E9F75;font-size:20px;float:right;'></span>
                                                    <span class="glyphicon glyphicon-ok-circle" id="right_{{relatedrequest.id}}" aria-hidden="true" style='display:none;color:#1E9F75;font-size:20px;float:right;'></span>

                                                </h2>
                                                <div class="col-md-6" style="padding-left:0;">
                                                 <div ng-if="relatedrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                  <div class="clearfix"></div>
                                                  <!---------------------------------->
                                                    <div  ng-photo-grid =   ""
                                                        images        =   "relatedrequest.images"
                                                        grid-options  =   "gridOptions"
                                                        ng-class      =   "{'loading': isBuildingGrid}"
                                                        class         =   "feed-photos">
                                                     </div>
                                                  <!---------------------------------->
                                                 <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div ng-if="relatedrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                 <div class="clearfix"></div>
                                                 <div class="request_files_div" ng-repeat="reqfile in relatedrequest.files | filter : {filetype: 'pdf'}">
                                                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                 <div id="likediv{{relatedrequest.id}}">
                                                   <i class="fa fa-heart-o" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(relatedrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{relatedrequest.id}}" ng-if="relatedrequest.already_liked =='1'"></i> <span id="likecount{{relatedrequest.id}}">{{relatedrequest.count_like}}</span>
                                                 </div>
                                                <div class="clearfix"></div>
                                                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{relatedrequest.selectedmaincats}} </p>
                                                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{relatedrequest.selectedcats}} </p>
                                                <p><span>New Request — {{relatedrequest.posttime}} — Budget: ${{relatedrequest.budget}}/hr</span></p>

                                            </div>
                                            <div class="confirm" id="activerequestdetails{{relatedrequest.id}}" style="display:none;">
                                                <p>
                                                <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{relatedrequest.userimage!=''?relatedrequest.userimage:'noimage.png'}}"> </div> {{relatedrequest.username}} - {{relatedrequest.usertimezone}}
                                                </p>
                                                <p>{{relatedrequest.details}}</p>
                                                
                                              <div class="clearfix"></div>
                                              <div class="confirm">
                                                    <p>
                                                    <div class="profile_img-new">
                                                        <img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}">
                                                    </div> 
                                                    Can you help <a href="javascript:void(0);">{{relatedrequest.username}}</a> with the request?
                                                    </p>
                                                    <a href="javascript:void(0);" ng-if="relatedrequest.interest == 0" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-primary" ng-click='showinterest(relatedrequest.id, "related");' id='related_interest_{{relatedrequest.id}}'>

                                                        <i class="fa fa-check"></i> I can Help</a>
                                                    <a href="javascript:void(0);" ng-click='skipthis(relatedrequest.id, "related");' class="btn btn-default">
                                                        <i class="fa fa-close" ></i> Skip</a> 
                                                    <small class="right-small-text"> {{relatedrequest.showbudgetmessage}} </small>


                                                    <hr>
                                                    <div class="commentarea" style="padding:5px 0;">
                                                    
                                                        <div ng-repeat="comments in relatedrequest.comments">  
                                                            <div id="{{comments.id}}">
                                                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                                                <div class="profile_img-new">
                                                                    <img src="{{siteurl}}assets/upload/user_images/{{comments.image!=''?comments.image:'noimage.png'}}">
                                                                </div> 
                                                            </div>
                                                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                                                <h2><a>{{comments.name}}</a>
                                                                    <span style="margin-left:10px; font-size: 12px;">{{comments.time}}</span>
                                                                     <span ng-if="loggedindetails.id == comments.userid" style="cursor: pointer; margin-left:10px; font-size: 14px;"  ng-click="deletecomment(comments.id);">X</span>
                                                                </h2> 
                                                                <p>{{comments.comment}}</p>
                                                            </div>
                                                                 <hr  style='clear: both;'>
                                                        </div>
                                                           
                                                        </div>
                                                    
                                                  
                                                    </div>

                                                    <div class="col-md-1 col-sm-1 col-xs-3"><img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" alt="" class="small-comment-pic"></div>
                                                    <div class="col-md-11 col-sm-11 col-xs-9">
                                                        <textarea placeholder="Add note here. (only you and {{relatedrequest.username}} could see this)" id="textarea_{{relatedrequest.id}}" class="text-area-new"></textarea>
                                                        <div class="attached-section"><a  href="javascript:void(0);"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Attached File</a>
                                                            <a  href="javascript:void(0);" class="btn btn-sm btn-success pull-right" ng-click="addcomment(relatedrequest.id, 'other');" data-style="zoom-in" ladda="loading1" data-spinner-size="25">Send</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="allother" aria-labelledby="all-other-request" style="display:none;">
                                    <!----------------------------Filter------------------------->
                                            <a class="btn btn-primary btn-filter" role="button" href="javascript:void(0);" ng-click="openfilter();">
                                                Filter <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                                            </a>
                                            <div class="clearfix"></div>
                                            <input type="hidden" name="filtertagstring" id="filtertagstring" value="">
                                            <div class="all-cat" id="filter_tag" style="display:none;">
                                               <ul style="padding-left:0px;" id="selectedtags">
                                               </ul>
                                            </div>
                                            <div id="filter-cat" style="display:none;">
                                                <div class="well">
                                                <div class="col-md-4">
                                                  <div class="left-cat">
                                                  <ul style="padding-left:0px;">
                                                    <li ng-repeat="allparentcategory in allparentcategories" class="" id="maincat{{allparentcategory.Category.id}}"><a href="javascript:void(0);" ng-click="getsubcats(allparentcategory.Category.id,allparentcategory.Category.name);">{{allparentcategory.Category.name}}</a></li>
                                                 </ul>
                                                  </div>
                                                  </div>
                                                  <div class="col-md-8">
                                                   <div class="right-cat">
                                                   <ul id="subcategories">

                                                   </ul>
                                                 </div>
                                                </div>
                                             </div>
                                          </div>
                                      <!----------------------------Filter-------------------------> 
                                    
                                    <ul class="right-block-top" ng-show="allotherdiv">
                                        <li>
                                            <div class="icon-left-new">
                                                <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                                            </div>
                                            <div class="icon-content-2">
                                                <p style="margin-top: 7px;">
                                                    There is no other requests.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul style="padding:0px;" class="right-block-top job_posted filterresdiv"  ng-show="!allotherdiv">
                                        <li ng-repeat="allotherrequest in allotherrequests">
                                            <div class="postedby">
                                                <div class="feed_userimage">
                                                                <img  class="image-thumb" src="{{siteurl}}assets/upload/user_images/{{allotherrequest.userimage!=''?allotherrequest.userimage:'noimage.png'}}">
                                                </div>  
                                                <div class="profile-name" style="width:91%;">
                                                                        <h3 style="font-weight:normal;">{{allotherrequest.username}}</h3>
                                                                        <p style="margin:0; font-weight:normal;">{{allotherrequest.posttime}}</p>
                                                                    </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="post_body">
                                                                    <h1>{{allotherrequest.title}}</h1>
                                                                    <div class="col-md-6" style="padding-left:0;">
                                                                     <div ng-if="allotherrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                                      <div class="clearfix"></div>
                                                                      <!---------------------------------->
                                                                        <div  ng-photo-grid =   ""
                                                                            images        =   "allotherrequest.images"
                                                                            grid-options  =   "gridOptions"
                                                                            ng-class      =   "{'loading': isBuildingGrid}"
                                                                            class         =   "feed-photos">
                                                                         </div>
                                                                      <!---------------------------------->
                                                                     <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <div ng-if="allotherrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                                     <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                                     <div class="clearfix"></div>
                                                                     <div class="request_files_div" ng-repeat="reqfile in allotherrequest.files | filter : {filetype: 'pdf'}">
                                                                      <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                     <div id="likediv{{allotherrequest.id}}">
                                                                       <i class="fa fa-heart-o" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='1'"></i> <span id="likecount{{allotherrequest.id}}" style="display:inline;">{{allotherrequest.count_like}}</span>
                                                                     </div>
                                                                    <div class="clearfix"></div>
                                                                    <p class="ptag"> Job amount: ${{allotherrequest.budget}}</p>
                                                                    <p>
                                                                        {{allotherrequest.details}}
                                                                    </p>

                                                                    <div>
                                                                        <span class="category_span">
                                                                        <p>Category:</p> 
                                                                        <a href="javascript:;" ng-repeat="category in allotherrequest.categories">{{category.tag}}</a> 
                                                                        </span>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <div>
                                                                        <span class="subcategory_span">
                                                                        <p>Sub Category:</p> 
                                                                        <a href="javascript:;" ng-repeat="subcategory in allotherrequest.subcategories">{{subcategory.tag}}</a> 
                                                                        </span>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                     </div>
                                           </li>
                                     </ul>
                                      
                                      
                                      
                                      
                                      
                                      
                                    <!--------------------- Old Div Hidden ------------>  
                                    <ul class="right-block-top"  style="display:none;">
                                        <li ng-repeat="allotherrequest in allotherrequests">
                                            <div class="icon-qustion" ng-click="open_active_request(allotherrequest.id);" style="cursor:pointer;border:2px solid #C1BFBF;"> 
                                                <i class="fa fa-check" style="color:#C1BFBF;"></i> 
                                            </div>
                                            <div class="icon-content-new-2" ng-click="open_active_request(allotherrequest.id);" style="cursor:pointer;">
                                                <h2>{{allotherrequest.title}}
                                                    <span  ng-if="allotherrequest.interest == '1'" class="glyphicon glyphicon-ok-circle"  aria-hidden="true" style='display:block;color:#1E9F75;font-size:20px;float:right;'></span>
                                                    <span class="glyphicon glyphicon-ok-circle" id="right_{{allotherrequest.id}}" aria-hidden="true" style='display:none;color:#1E9F75;font-size:20px;float:right;'></span>

                                                </h2>
                                                <div class="col-md-6" style="padding-left:0;">
                                                 <div ng-if="allotherrequest.imagefileexist =='1'" class="request_images_div_outer">
                                                  <div class="clearfix"></div>
                                                  <!---------------------------------->
                                                    <div  ng-photo-grid =   ""
                                                        images        =   "allotherrequest.images"
                                                        grid-options  =   "gridOptions"
                                                        ng-class      =   "{'loading': isBuildingGrid}"
                                                        class         =   "feed-photos">
                                                     </div>
                                                  <!---------------------------------->
                                                 <div class="clearfix"></div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div ng-if="allotherrequest.otherfileexist =='1'" class="request_files_div_outer">
                                                 <b style="color:#8e979b;font-size:14px;font-weight:bold;">Other Files:</b>
                                                 <div class="clearfix"></div>
                                                 <div class="request_files_div" ng-repeat="reqfile in allotherrequest.files | filter : {filetype: 'pdf'}">
                                                  <a href="{{siteurl}}assets/frontend/uploads/requestimages/{{reqfile.file}}" target="_blank">{{reqfile.file}}</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                 <div id="likediv{{allotherrequest.id}}">
                                                   <i class="fa fa-heart-o" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='0'"></i><i class="fa fa-heart" ng-click="likerequest(allotherrequest.id)" style="color:#F03A3A;cursor:pointer;" id="likeheart{{allotherrequest.id}}" ng-if="allotherrequest.already_liked =='1'"></i> <span id="likecount{{allotherrequest.id}}">{{allotherrequest.count_like}}</span>
                                                 </div>
                                                <div class="clearfix"></div>
                                                <p style="color:#9BB6BF;font-weight:bold;"><span style="color:#8e979b;">Category:</span> {{allotherrequest.selectedmaincats}} </p>
                                                <p style="color:#9BB6BF;word-spacing:6px;font-weight:bold;"> {{allotherrequest.selectedcats}} </p>
                                                <p><span>New Request — {{allotherrequest.posttime}} — Budget: ${{allotherrequest.budget}}/hr</span></p>

                                            </div>
                                            <div class="confirm" id="activerequestdetails{{allotherrequest.id}}" style="display:none;">
                                                <p>
                                                <div class="profile_img-new"> <img src="{{siteurl}}assets/upload/user_images/{{allotherrequest.userimage!=''?relatedrequest.userimage:'noimage.png'}}"> </div> {{allotherrequest.username}} - {{allotherrequest.usertimezone}}
                                                </p>
                                                <p>{{allotherrequest.details}}</p>
                                                <div class="clearfix"></div>
                                                <div class="confirm">
                                                    <p>
                                                    <div class="profile_img-new">
                                                        <img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}">
                                                    </div> 
                                                    Can you help <a href="javascript:void(0);">{{allotherrequest.username}}</a> with the request?
                                                    </p>
                                                    <a href="javascript:void(0);" ng-if="allotherrequest.interest == 0" class="btn btn-primary" id="other_interest_{{allotherrequest.id}}" data-style="zoom-in" ladda="loading" data-spinner-size="25" ng-click='showinterest(allotherrequest.id, "other");'>

                                                        <i class="fa fa-check"></i> I can Help</a>
                                                    <a href="javascript:void(0);" ng-click='skipthis(allotherrequest.id, "other");' class="btn btn-default">
                                                        <i class="fa fa-close"></i> Skip</a> 
                                                    <small class="right-small-text"> {{allotherrequest.showbudgetmessage}} </small>

                                                    <hr>
                                                    <div class="commentarea" style="padding:5px 0;">
                                                    <div ng-repeat="comment in allotherrequest.comments">  
                                                            <div id="{{comment.id}}">
                                                            <div class="col-md-1 col-sm-1 col-xs-3" style="padding-left:15px;">
                                                                <div class="profile_img-new">
                                                                    <img src="{{siteurl}}assets/upload/user_images/{{comment.image!=''?comment.image:'noimage.png'}}">
                                                                </div> 
                                                            </div>
                                                            <div  class="col-md-11 col-sm-11 col-xs-9">
                                                                <h2><a>{{comment.name}}</a>
                                                                    <span style="margin-left:10px; font-size: 12px;">{{comment.time}}</span>
                                                                    <span ng-if="loggedindetails.id == comment.userid" style="margin-left:10px; cursor: pointer; font-size: 14px;"  ng-click="deletecomment(comment.id);">X</span>
                                                                </h2> 
                                                                <p>{{comment.comment}}</p>
                                                            </div>
                                                                <hr  style='clear: both;'>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div style='clear: both;'></div>
                                                    <div class="col-md-1 col-sm-1 col-xs-3">
                                                        <div class="profile_img-new">
                                                            <img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" alt="" >
                                                        </div>
                                                        </div>
                                                    <div class="col-md-11 col-sm-11 col-xs-9">
             <textarea placeholder="Add Note Here" id="textarea_{{allotherrequest.id}}" class="text-area-new" ></textarea>

                                                        <div class="attached-section">
                                                            <a  href="javascript:void(0);"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Attached File</a>
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-success pull-right" ng-click="addcomment(allotherrequest.id, 'other');" data-style="zoom-in" ladda="loading1" data-spinner-size="25">Send</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                     <!--------------------- Old Div Hidden ------------>  
                                </div>
                            </div>
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>
