<div ng-controller="paymentsuccessCtrl">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
            	<div class="payment_success">
            		<i class="fa fa-check-circle" style="color:#fff"></i>
            		<h4>Successful Payment !</h4>
            	</div>            	
            </div>
        </div>
    </div>
</div>


