<div ng-controller="paymentcancelCtrl">
    <div class="container">
        <div class="row">
        	 <div class="col-md-12">            	
            	<div class="payment_fail">
            		<i class="fa fa-close" style="color:#fff"></i>
            		<h4>Payment Cancelled!</h4>
            	</div>
            </div>
        </div>
    </div>
</div>


