<div ng-controller="paymentreturnCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="min-height: 600px;">
                <div class="right-block-new" style="margin-top: 22%;margin-bottom: auto;height:86px;">
                    <ul class="right-block-top">
                        <li class="text-center">

                    <!---<div class="icon-left">
                    <span aria-hidden="true" class="glyphicon glyphicon-bullhorn"></span>
                    </div>-->
                    <div class="icon-content">
                    <!--<h4>Lorem ipsum dummy text</h4>-->
                    <p><span><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Loading_bar.gif"></span></p>
                    </div>
                    

                    </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


