<div ng-controller='resetpasswordCtrl'  >  
    <section class="body-wrapper">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
   <div class="heading"><h2>Reset Password for <span>{{resetuseremail}}</span></h2></div>
    <div class="reg-box">
    <form>
        
        
        <div ng-show="resetalertmessage" class="{{alert.altclass}}">

<div id="flash_notice">{{alert.msg}}</div>
</div>
        
 
  <div class="form-group">
    <label for="exampleInputEmail1">New Password</label>
    <input type="password" class="form-control" ng-model="newpassword" id="exampleInputEmail1" placeholder="New password">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input type="password" class="form-control" ng-model="newconfirmpassword" id="exampleInputEmail1" placeholder="Confirm password">
  </div>

  <div class="form-group">
  <a ng-click="resetpassword();" data-style="zoom-in" ladda="loading" data-spinner-size="25" class="btn btn-custom-big">Reset</a>
  </div>
    </form>
    </div>
    </div>
    <div class="col-md-3">
    
    </div>
    
    </div>
    </div>
    </section>


<div class="clearfix"></div>
</div>
