<div ng-controller="testpageCtrl"> 
    


    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                <div data-ng-include data-src="'assets/views/frontend/includes/mentor_profile_left.html'"></div>
                </div>
                <div class="col-md-9" ng-hide="listView">

                    <!--=============================Request History Start=======================-->
                    <div class="left-box requesthistory">
                        <div class="bank-transfer">
                        <div class="panel-heading">
                    		<h3 class="panel-title">Bank Transfer</h3>
                		</div>
                        <ul>
                        <li>
                        	<label>Routing Number:</label>
                            <div class="input-group">
                                        <input type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                         <li>
                        	<label>Account Number:</label>
                            <div class="input-group">
                                        <input type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                         <li>
                        	<label>Country Code:</label>
                            <div class="input-group">
                                        <input style="width:60%" type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                         <li>
                        	<label>Currency CODE:</label>
                            <div class="input-group">
                                        <input style="width:50%" type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                         <li>
                        	<label>Amount:</label>
                            <div class="input-group">
                                        <input type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                         <li>
                        	<label>Routing Number</label>
                            <div class="input-group">
                                        <input type="text" name="routing_number" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                             </div>
                        </li>
                        <li>
                        	<label></label>
                            <div class="input-group">
                                        <button type="submit" class="btn btn-success btn-lg btn-block">Transfer</button>
                             </div>
                        </li>
                        </ul>
                        	
                        </div> 
                    </div>
                    <!--=========================================================================--> 
                </div>
                
                
                
               
                
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
</style>
