<div ng-controller="videocallCtrl"> 
    <section class="body-wrapper">
        <div ng-show="changerequeststatusmessage" class="{{alert.altclass}}">
            <div id="flash_notice">{{alert.msg}}</div>
        </div>
        <div class="container">
            <div style="width:100%;position: relative; height:600px">
                
                <div class="text-center my_video_div_container" ng-bind-html-unsafe="friends_video_div">
                    <div id="friends_video_div" class="img-responsive video_div_css"></div>
                </div>
                <div class="text-center friends_div_container" ng-bind-html-unsafe="my_video_div" style="position:absolute;left:0px;bottom:0px">
                    <div id="my_video_div" class="img-responsive video_div_css"></div>
                </div>
                <div class="clearfix"></div>
                
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <input type="button" ng-click="disconnectVideoCall()" class="btn btn-danger" value="Cancel" style="margin:15px auto">
                </div>
            </div>
        </div>
    </section>
</div>

<style>
.request_images_div{float:left;width:101px;height:101px;margin:5px 10px 5px 0px;border:1px solid #D3CFCF;position:relative;}
.request_files_div{float:left;margin:0px 10px 5px 0px;position:relative;}
.request_images_div img{width:99px;height:99px;}
.request_images_div_outer{margin-bottom:6px;}
.order_label li{width:50% !important;}
.video_div_css
    {
        height:100%;width:100%;margin:0px auto;
    }
</style>
