<div ng-controller="headerCtrl">
    <header id="header-nav" class="positon-static mainheaderclass">
         <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
            <div class="top-header">
               <div class="container">
                  <div class="logo">
                     <a href="javascript:void(0);" ng-click="gotohome();"><img src="assets/frontend/images/logo.jpg" title="LiveHelpout" /></a>
                  </div>
                  <!----start-top-nav---->
                  <nav class="top-nav">
                     <ul class="top-nav dashboard-right-nav">
                        <li>
                            <form id="searchfrm" method="GET" >
                           <div class="sarch_box">
                               <span>
                                   <input type="text" ng-model="search_keywords" id="search_keywords" >
                               </span>
                               <span style="float: right;">
                                   <input type="button" class="search_btn" ng-click="sendtosearch();" >
                               </span>
                           </div>
                                </form>
                        </li>
                        
                         <li ng-show="onlinestat">
                              <div class="online_status">
                                  <div class="dropdown">
                                        <a  class="dropdown-toggle" type="button" id="headstatus" data-toggle="dropdown" ng-click="showdropdownmenu1();">
                                            <img src="assets/frontend/images/online.png" alt="" style="margin-right:5px; margin-top:-2px;">Online
                                        <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu2" role="menu" aria-labelledby="menu1">
                                                                               
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="instant" ng-click="changestatus('instant','1');"><img src="assets/frontend/images/online.png" alt="" style="margin-right:5px; margin-top:-2px;">Instant Session</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="online" ng-click="changestatus('online','2');"><img src="assets/frontend/images/online.png" alt="" style="margin-right:5px; margin-top:-2px;">Online</a></li>
                                          
                                          
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="away" ng-click="changestatus('away','3');"><img src="assets/frontend/images/away.png" alt="" style="margin-right:5px; margin-top:-2px;">Away</a></li>
                                          
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" class="offline" ng-click="changestatus('offline','4');"><img src="assets/frontend/images/offline.png" alt="" style="margin-right:5px; margin-top:-2px;">Offline</a></li>
                                        </ul>
                                      </div>
                                </div>
                          </li>
                          <li ng-show="onlinestat"><a href="#services" class="scroll"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a></li>
                          <li style="position:relative;" ng-show="onlinestatnoti">
                           <a href="javascript:void(0);" class="scroll" ng-click="open_notification_box();">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                           </a>
                           <div class="new-drop collapse in" id="notificationbox" style="display:none;max-height: 500px;overflow-y: hidden" perfect_scrollbar>
                            <ul ng-show="notificationlist" style="width:100%;" >
                                <li ng-repeat="allnotification in allnotifications" style="{{allnotification.is_read==0?'background-color:#EAEAEA':''}}">
                               <div class="profile_img-new"> 
                                <img src="assets/upload/user_images/{{allnotification.userimage!=''?allnotification.userimage:'noimage.png'}}" style="cursor:pointer;">
                               </div>  
                               <div class="icon-content-new-2">
                                  <h2 ng-if="allnotification.type=='request'" style="color:#333;">New request related to your expertise</h2>
                                  <h2 ng-if="allnotification.type=='like'" style="color:#333;">{{allnotification.username}} likes your request</h2>
                                  <h2 ng-if="allnotification.type=='interest'" style="color:#333;">An expert would like to help you</h2>
                                  <h2 ng-if="allnotification.type=='interestaccepted'" style="color:#333;">You have been selected for help.</h2>
                                  <h2 ng-if="allnotification.type=='escrowed'" style="color:#333;">Credit amount escrowed.</h2>
                                  <h2 ng-if="allnotification.type=='request_release'" style="color:#333;">Request for Release Escrow.</h2>
                                  <h2 ng-if="allnotification.type=='disputed'" style="color:#333;">Request Disputed.</h2>
                                  <p ng-if="allnotification.type!='interest'">{{allnotification.notificationmsg}}</p>
                                  <p ng-if="allnotification.type=='interest'">{{allnotification.username}} is available to help you with the issue: {{allnotification.notificationmsg}}</p>
                               </div>  
                               <div style="float:right;color:#3e90ca;" ng-if="allnotification.is_read=='0'">
                                <i class="fa fa-circle"></i>
                               </div>
                              </li>
                             </ul>
                             <ul ng-show="!notificationlist" style="width:100%;">
                               <li>
                                 No notification found.
                               </li>
                             </ul>
                            </div>
                           <div class="notificationdiv" id="notificationcount" ng-if="notificationcount >= '1'">{{notificationcount}}</div>
                          </li>
                          <li class="user-profile" ng-show="loggedin">
                            <div class="dropdown">
                                <div class="s-round">
                                <img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" style="cursor:pointer;" ng-click="showdropdownmenu();" >
                                <!--<img src="{{siteurl}}assets/upload/user_images/{{loggedindetails.image!=''?loggedindetails.image:'noimage.png'}}" ng-show="imgtype==1" style="cursor:pointer;" ng-click="showdropdownmenu();" >
                                <img src="https://graph.facebook.com/{{loggedindetails.fbid}}/picture?type=large&height=130&width=130" ng-show="imgtype==2" style="cursor:pointer;" ng-click="showdropdownmenu();" >
                                <img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==3" style="cursor:pointer;" ng-click="showdropdownmenu();" >
                                <img src="{{loggedindetails.image!=''?loggedindetails.image:'http://livehelpout.com/assets/upload/user_images/noimage.png'}}" ng-show="imgtype==4" style="cursor:pointer;" ng-click="showdropdownmenu();" >-->
                                </div>
                                <a id="profile-click" style="cursor:pointer;" ng-click="showdropdownmenu();">{{loggedindetails.username}}</a>
                                <ul class="dropdown-menu dropdown-menu1">
                                 <li class="item">
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="gotomydashboard();">
                                   <img src="assets/img/user.png" title="menu" width='16' height="16"/>&nbsp; Dashboard
                                  </a>
                                 </li>
                                 <li>
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="gotomyprofile();">
                                   <img src="assets/img/user.png" title="menu" width='16' height="16"/>&nbsp; My Profile
                                  </a>
                                 </li>
                                 <li ng-show="onlinestat">
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="gotolivefeed();">
                                   <img src="assets/img/user.png" title="menu" width='16' height="16"/>&nbsp; Live Requests
                                  </a>
                                 </li>
                                 <li ng-show="onlinestat">
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="gotoavailability();">
                                   <img src="assets/img/calendar.png" title="menu" width='16' height="16"/>&nbsp; Availability
                                  </a>
                                 </li>
                                 <li class="item">
                                  <!--<a href="javascript:void(0);" style="font-size:15px;text-align:left;" >
                                   <img src="assets/img/settings.png" title="menu" width='16' height="16"/>&nbsp;Settings
                                  </a>-->
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="gotomysettings();">
                                   <img src="assets/img/settings.png" title="menu" width='16' height="16"/>&nbsp;Settings
                                  </a>
                                 </li>
                                 <li class="item">
                                  <a href="javascript:void(0);" style="font-size:15px;text-align:left;" ng-click="logout();">
                                    <img src="assets/img/logout.png" title="menu" width='16' height="16"/>&nbsp;Logout
                                  </a>
                                 </li>
                                </ul>
                            </div>
                        </li>
                        
                        
                        <li ng-show="loggedin"><a href="javascript:void(0);"  ng-click="logout();">Logout</a></li>
                        <li ng-show="notloggedin"><a href="javascript:void(0);"  ng-click="openModal('myModal-2');">Join</a></li>
                        <li ng-show="notloggedin"><a href="javascript:void(0);" ng-click="openModal('myModal');">Sign In</a></li>
                     </ul>
                     <a href="javascript:void(0);" id="pull"><img src="assets/images/menu-icon.png" title="menu" /></a>
                  </nav>
                  <div class="clearfix"> </div>
               </div>
            </div>
         </div>
      </header>
    
    
    <header id="header-nav"  class="mentorheaderclass" style="display: none">
          <div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
    <div class="top-header">
              <div class="container">
        <div class="logo"> <a href="javascript:void(0);"><img src="assets/frontend/images/logo.jpg" title="dreams" /></a> </div>
        <!----start-top-nav---->
        <div class="all-steps2">
                  <ul>
            <li>
                <div class="steps act" id="headerstep1">1</div>
                      Basic Information </li>
            <li>
                      <div class="steps" id="headerstep2">2</div>
                      More About You </li>
            <li>
                      <div class="steps " id="headerstep3">3</div>
                      Final Step </li>
          </ul>
                </div>
      </div>
            </div>
  </div>
        </header>  
    
    
    
    
      <div class="custom-modal modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign in</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="loginalertmessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username or Email" class="form-control" ng-model="user_username"/>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <div class="checkbox">
                              <label>
                              <input type="checkbox"> Remember Me
                              </label>
                               <div class="forgot"><a href="javascript:void(0);" ng-click="openModal('myModal-3');">Forgot Password?</a></div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="login();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                     
                     <div class="form-group" style="text-align: center;">
                             <label>Or</label>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/facebook.png" style="cursor:pointer;" ng-click="fbloginuser('login')" class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/gplus.png" style="cursor:pointer;" ng-click="gpluslogin('login')"  class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/linkedin.png" style="cursor:pointer;" ng-click="linkedinlogin('login')" class="img-responsive">
                        </div>
                     <!--<div class="form-group" style="text-align: center;width: 44%;margin-left: 20px;">
                            <img src="{{siteurl}}assets/frontend/images/facebook.png" style="cursor:pointer;" ng-click="fbsignuser()" class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;width: 44%;margin-left: 20px;">
                            <img src="{{siteurl}}assets/frontend/images/linkedinsign.png" style="cursor:pointer;" ng-click="lnsignuser()" class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;width: 44%;margin-left: 20px;">
                            <img src="{{siteurl}}assets/frontend/images/gplus.png" style="cursor:pointer;" ng-click="gpsignuser()"  class="img-responsive">
                        </div>-->
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      <div class="custom-modal modal fade" id="myModal-2"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up and Get Help Now</h4>
               </div>
               <div class="modal-body extraspace">
                <div ng-show="signupalertmessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                </div>
                  <div class="col-md-5">
                     <div class="left-modal">
                        <h2>LiveHelpout</h2>
                        <p>your instant 1:1 expert mentor helping you in real time.</p>
                        <p>Have an account? <a href="javascript:void(0);" ng-click="openModal('myModal');">Sign In</a></p>
                        <p><a href="javascript:void(0);" ng-click="gotomentor_signup();">Want to become a Mentor?</a></p>
                     </div>
                  </div>
                  <div class="col-md-7">
                     <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/facebook.png" style="cursor:pointer;" ng-click="fbloginuser()" class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/gplus.png" style="cursor:pointer;" ng-click="gpluslogin()"  class="img-responsive">
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <img src="{{siteurl}}assets/frontend/images/linkedin.png" style="cursor:pointer;" ng-click="linkedinlogin()" class="img-responsive">
                        </div>
                        
                        <div class="form-group" style="text-align: center;">
                             <label>Or</label>
                        </div>
                     <form name="registrationForm" novalidate> 
                        
                        <div class="form-group" ng-class="{ 'has-error': registrationForm.email.$invalid && registrationForm.email.$dirty }">
                           <label for="exampleInputEmail1" class="control-label">Email address</label>
                           <input type="email" ng-required class="form-control" ng-model='email' id="exampleInputEmail1" placeholder="Enter email" name="email">
                        </div>
                        <p>By clicking the button, you agree to the <a href="javascript:void(0);">terms</a></p>
                        <div class="form-group">
                            <button ng-click="signup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
          
        <div class="custom-modal modal fade" id="myModal-3"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Forgot your Password?</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="forgetpasswordalertmessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST" name="forgotpasswordForm" novalidate>
                     <div class="form-group" ng-class="{ 'has-error': forgotpasswordForm.email.$invalid && forgotpasswordForm.email.$dirty }">
                        <label for="exampleInputEmail1" class="control-label">Email address</label>
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-12">
                           <input type="email" ng-required placeholder="Email address" class="form-control" ng-model="forgotemail" name="email"/>
                        </div>
                     </div>
                   
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="forgotpassword();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
   </div>
    
    <div class="custom-modal modal fade" id="fbmodal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="fbsignupMessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_fbid" ng-model="user_fbid" id="userfbid" ng-value="user_fbid" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="fbusersignup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      <div class="custom-modal modal fade" id="lnmodal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="lnsignupMessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_lnid" ng-model="user_lnid" id="userlnid" ng-value="user_lnid" value="">
                  <input type="hidden" name="user_picture" ng-model="user_picture" id="userpicture" ng-value="user_picture" value="">
                  <input type="hidden" name="user_location" ng-model="user_location" id="userlocation" ng-value="user_location" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="lnusersignup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      
      
      <div class="custom-modal modal fade" id="gpmodal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
               </div>
               <div class="modal-body">
                 <div ng-show="gpsignupMessage" class="{{alert.altclass}}">
                  <div id="flash_notice">{{alert.msg}}</div>
                 </div>
                  <form method="POST">
                  <input type="hidden" name="user_email" ng-model="user_email" id="userEmail" ng-value="user_email" value="">
                  <input type="hidden" name="user_gpid" ng-model="user_gpid" id="usergpid" ng-value="user_gpid" value="">
                  <input type="hidden" name="user_picture" ng-model="user_picture" id="userpicture" ng-value="user_picture" value="">
                  <input type="hidden" name="user_name" ng-model="user_name" id="username" ng-value="user_name" value="">
                     <div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-user"></span></label>
                        <div class="col-sm-11">
                           <input type="text" placeholder="Username" class="form-control" ng-required="true" required ng-model="user_username"/>
                        </div>
                     </div>
                     <!--<div class="form-group">
                        <label class="col-sm-1 control-label"><span class="glyphicon glyphicon-lock"></span></label>
                        <div class="col-sm-11">
                           <input type="password" placeholder="Password" class="form-control" ng-model="user_password"/>
                        </div>
                     </div>-->
                     
                     <div class="form-group">
                        <div class="col-sm-12">
                           <button ng-click="gpusersignup();" data-style="zoom-in"  type="submit" ladda="loading" data-spinner-size="25" class="btn btn-cust-new">Submit</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
    
    <div class="custom-modal modal fade" id="myModal-forimage"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <input type="hidden" id="allimages">
        <input type="hidden" id="countallimages">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#fff; border:0;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:#000;" aria-hidden="true">&times;</span></button>
                 
               </div>
               
               <div class="modal-body" id="modal_image_body">
                
               </div>
            </div>
         </div>
   </div>
    <div class="right-chat-container">
		<div class="left-chat-area" id="chat" ng-repeat="chat_box in chat_boxes" ng-hide="chat_box.hide">
			<div class="toparea btn-minimize">
				<div class="left-side">
					<p class="name "><span></span> <b>{{chat_box.name}}</b></p>
				</div>
				<div class="right-side">
					<ul>
						<!--<li><a href=""><i class="fa fa-mail-reply-all"></i></a></li>
						<li><a href=""><i class="fa fa-align-justify"></i></a></li>-->
						<li style="float:right"><a href="javascript:void(0);" ng-click="hide_chat_box(chat_box)"><i class="fa fa-close"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="widget-content ot-textchat">
				<ul class="session-area">
					<!--<li><a href=""><i class="fa fa-play"></i> Start Session</a></li>
					<li><a href=""><i class="fa fa-calendar"></i></a></li>-->
					<li style="float:right"><a href="javascript:void(0);" ng-click="openVideo(chat_box)"><i class="fa fa-video-camera"></i></a></li>
					<li style="float:right"><a ><i class="fa fa-share-square-o"></i></a></li>				
				</ul>
				<div class="chat-area">
					<!--<p class="time">June 10, 2015, 1:19 pm</p>-->
                    <ul class="conversation ot-bubbles" >
						<li ng-repeat="message in chat_box.messages" id="msg_li_{{$index}}">
							<div class="txt-area" ng-if="!message.my">
								<div class="content">
									{{message.message}}
								</div>
							</div>
							<div class="txt-area2" ng-if="message.my">
								<div class="content">{{message.message}}</div>
							</div>
						</li>
						<li id="blankdiv"></li>
					</ul>
				</div>
				<div class="chat-bottom-area ot-input">
										 <p class="ot-error-zone" hidden>Error sending the message!</p>
			<p class="ot-new-messages" hidden>\u25BE&nbsp;New messages</p>
					<a href="" style="border-right:1px solid #e1e1e1; padding: 5px; color: #454545"><i class="fa fa-arrow-circle-up"></i></a>
									<input  type="text" placeholder="send a text" class="ot-composer" ng-model="chat_box.boxvalue" style="border: 0; width:80%"  ng-keypress="send_chat($event,chat_box,bx.$index)"/>
										 <button class="ot-send-button" style="display:none">Send&nbsp;\u27E9</button>
										 <p class="ot-character-counter" style="display:none"><span></span> characters left</p>
				</div>
			</div>
		</div> 
	</div>
    
   
    
    <!--<div class="custom-modal modal fade" id="video_modal"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <input type="hidden" id="allimages">
        <input type="hidden" id="countallimages">
        <div class="modal-dialog">
            <div class="modal-content">
                               
               <div class="modal-body" id="modal_image_body">
                    
                    <div class="row">
                        <div class="col-md-6 text-center my_video_div_container" ng-bind-html="my_video_div">
                            <div id="my_video_div" class="img-responsive video_div_css"></div>
                    	</div>
                        <div class="col-md-6 text-center friends_div_container" ng-bind-html="friends_video_div">
                            <div id="friends_video_div" class="img-responsive video_div_css"></div>
                    	</div>
                    </div>
               </div>
               <div class="nodal-footer">
               		<ul>
					   	<li><button class="btn btn-danger"  ng-click="disconnectVideoCall(callData)"><i class="fa fa-times"></i>Cancel</button></li>
					   	<li><button class="btn btn-info"><i class="fa fa-times"></i>Stop calling</button></li>
					   	<li><button class="btn btn-success"><i class="fa fa-times"></i>Stop calling</button></li>
					</ul> 
               </div>
            </div>
         </div>
   </div>-->
    <div class="overlay_bg" ng-show="incomingCallDiv">
        <div class="calling-holder">
                <h2>{{incomingCallFrom}} calling you...</h2>
                <div class="call">
                        <button class="acpt" ng-click="acceptVideoCall(incomingUser)">Accept</button>
                        <img src="https://s-media-cache-ak0.pinimg.com/originals/6f/b0/4d/6fb04ddff1cbfe7b24b7a7236b0f81e0.gif" alt="" />
                        <button class="reject" ng-click="rejectVideoCall(incomingUser)">Reject</button>
                </div>
        </div>
   </div>
    
    <div class="overlay_bg" ng-show="outgoingCallDiv">
        <div class="calling-holder">
                <h2>Calling {{outgoingCallTo}}...</h2>
                <div class="call" style="text-align: center">                       
                        <button class="reject" ng-click="cancelOutgoingCall(outgoingUser)" style="float:none;margin: 0px auto">Cancel</button>
                </div>
        </div>
   </div>
 </div> 
<style>
    .video_div_css
    {
        height:100%;width:100%;margin:0px auto;
    }
</style>
